{% if user.is_authenticated %}

  <div class="container">
    {% for cat in aims_by_cat %}
      {% if cat.1 %}

          <div class="accordion" id="AimsAccordion_{{ cat.0 }}">
            {% for aim, levers in cat.1.items %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading_{{ forloop.counter0 }}_{{ forloop.parentloop.counter0 }}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ forloop.counter0 }}_{{ forloop.parentloop.counter0 }}" aria-expanded="false" aria-controls="collapse_{{ forloop.counter0 }}_{{ forloop.parentloop.counter0 }}">
                    <strong>{{cat.0}}_ </strong> {{ aim.title }}
                  </button>
                </h2>
                <div id="collapse_{{ forloop.counter0 }}_{{ forloop.parentloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="heading_{{ forloop.counter0 }}_{{ forloop.parentloop.counter0 }}">
                  <div class="accordion-body">

                    <div class="row">
                      <div class="col-8 mt-2">
                        <h5> Why I am aiming for this.. </h5>
                        </div>
                        <div class="col-4">
                          <ul class="nav justify-content-end">
                                <li class="nav-item">
                                  <a class="nav-link active" href="{% url 'lever-new' aim.id %}">+<i class="fas fa-level-up-alt"></i></a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#"><i class="far fa-edit"></i></a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#"><i class="far fa-trash-alt"></i></a>
                                </li>
                              </ul>
                            </div>
                    </div>
                     <p>{{ aim.why }}</p>
                    {% for lever, trackers in levers.items %}
                      <hr>
                      <div class="row">
                        <div class="col-8 mt-2">
                            <h5> <i class="fas fa-level-up-alt"></i> {{ lever.description }} </h5>
                          </div>
                          <div class="col-4">
                            <ul class="nav justify-content-end">
                              <li class="nav-item">
                                <a class="nav-link active" href="{% url 'tracker-select' lever.id %}">+<i class="fas fa-running"></i></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#"><i class="far fa-edit"></i></a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#"><i class="far fa-trash-alt"></i></a>
                              </li>
                            </ul>
                          </div>
                      </div>
                      <ul class="list-group list-group-flush">
                      {% for tracker_key, tracker_list in trackers.items %}
                        {% if tracker_key == 'TrackerMinAim' %}
                          {% for tracker in tracker_list %}
                              <li class="list-group-item" id='{{ tracker }}'><i class="fas fa-running"></i> <a href="#"><i class="far fa-edit"></i></a> <a href='{% url 'log-any-tracker' tracker.get_tclass tracker.id %}'><i class="fas fa-plus"></i></a> <a href="#"><i class="far fa-trash-alt"></i></a>
                                {{ tracker.get_tsentence}}
                                </li>
                          {% endfor %}
                        {% endif %}
                        {% if tracker_key == 'TrackerBoolean' %}
                          {% for tracker in tracker_list %}
                          <a class="menuitem" id="{{ tracker }}">

                              <li class="list-group-item"><i class="fas fa-running"></i> <a href="#"><i class="far fa-edit"></i></a> <a href='{% url 'log-any-tracker' tracker.get_tclass tracker.id %}'><i class="fas fa-plus"></i></a> <a href="#"><i class="far fa-trash-alt"></i></a>
                                {{ tracker.get_tsentence}}
                                </li>
                              </a>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
    {% endfor %}
  </div>
{% endif %}
