{% if user.is_authenticated %}
<div class="row mt-4">
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Lever schedule
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <div class="bs-component">
          <figure>
            <blockquote class="blockquote">
              <p>"{{user.get_username }} any levers that need pulling appear here.
                 </p>
            </blockquote>
            <figcaption class="blockquote-footer">
            AIMSducator <cite title="Source Title">Using AIMS-Lib</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <!-- loop this one -->
  {% for period, tracker_data in uncomplete_trackers.items %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="{{ period }}_{{ forloop.counter0}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ period }}_{{ forloop.counter0}}" aria-expanded="false" aria-controls="collapse_{{ period }}_{{ forloop.counter0}}">
        {{ period }}
      </button>
    </h2>
    <div id="collapse_{{ period }}_{{ forloop.counter0}}" class="accordion-collapse collapse" aria-labelledby="{{ period }}_{{ forloop.counter0}}">
      <div class="accordion-body">
        Due before {{ tracker_data.1 }}
        <hr>
        <!-- loop this one -->
        {% for tracker in tracker_data.2 %}
          <p><small><a href='#anchor_{{ tracker }}_{{tracker.start_date}}'>{{ tracker.get_tquestion }}</a></small></p>
        {% endfor %}
          <!-- loop end  -->
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- loop end one -->
</div>
</div>
{% endif %}
