{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
MEMBER PROFILE
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Your profile has some settings vital to your aims such as the times and dates you want to reset tracking on. If you create public content it's great to share your profile so other users
can relate to who you are, you never know who you might inspire!
{% endblock pageInfo_message %}
{% block content %}
<div class="container my-4">
  <br/>
  <h4 class="text-center">{{ user.get_username }}</h4>
  <p class="text-center lead my-2">"{{ user_profile.power_quote }}"</p>
  <hr>
  <p class="my-4">{{ user_profile.biography|safe }}</p>
  <hr>
  <p>Personal Website: {% if user_profile.personal_website %}<a href="{{ user_profile.personal_website }}">{{ user_profile.personal_website }}</a>{% endif %}</p>
  <p>Reset time of day: {{ user_profile.day_reset_time }}</p>
  <p>Reset Day in week: {{ user_profile.week_reset_day }}</p>
  <p>Reset Date in Month:{{ user_profile.month_reset_day }}</p>
  <p>Reset Month Number in year: {{ user_profile.year_reset_month }}</p>
  </div>
<div class="text-center">
  <a class="btn btn-primary" href="{% url 'member-profile-edit' user_profile.pk %}">Edit your profile</a>

</div>

{% endblock %}
