{% extends 'base.html' %}
{% block title %}Groups{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfo_title %}
MY GROUPS
{% endblock pageInfo_title %}

{% block pageInfo_message %}
From here you can see all the groups you have created, add members and assign them pathway content. A groups members will recieve all pathways assigned to the group.
In the future you will be able to create an organisation rather than selecting from all available users.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container my-4">


  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <div class="text-center">
        <select name="content_id" class="form-select" aria-label="Default select example">
          {% for choice in form_choices %}
          <option value="{{choice.0}}">{{choice.1}}</option>
            {% endfor %}
        </select>
        <div class="container my-4">


        <input type="hidden" name="group_id" value="{{group_id}}">
        <button name="create_group_pathway" class="btn btn-primary">Add Pathway to group</button>
                </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
