{% extends 'base.html' %}
{% block title %}Groups{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
Create an organisation
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Organisations allow you to track the progression of pathways for users who have agreed to be a member.  
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container my-4">


  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <div class="text-center">
        {{ form.media }}
        <p>{{ form.parent_organisation }}</p>
        <p>{{ form.title }}</p>
        <p>{{ form.members }}</p>
        <button class="btn btn-al">Create Organisation</button>
      </div>
  </div>
</div>
{% endblock %}
