{% extends 'base.html' %}
{% block title %}Groups{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
Add Organisation Content
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Add a Pathway for your organisation to track. You will be able to see members progression to any pathways you add to this organisation.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container my-4">


  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <div class="text-center">
        <select name="content_id" class="form-select" aria-label="Default select example">
          {% for choice in form_choices %}
          <option value="{{choice.0}}">{{choice.1}}</option>
            {% endfor %}
        </select>
        <div class="container my-4">


        <input type="hidden" name="group_id" value="{{group_id}}">
        <button name="create_group_pathway" class="btn btn-al">Add Pathway to organisation</button>
                </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
