{% extends 'base.html' %}
{% block title %}Groups{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}

{% endblock pageInfo_title %}

{% block pageInfo_message %}

{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12 col-md-4">
    <p>Sub Organisations </p>
    {% include "suborganisations.html" %}

  </div>
  <div class="col-xs-12 col-md-4">
    <p>Members</p>
  </div>
  <div class="col-xs-12 col-md-4">
    <p>Pathways</p>
  </div>

</div>
{{data}}
{% endblock %}
