{% extends 'base.html' %}
{% block title %}Groups{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
CREATE ROOT ORGANISATION
{% endblock pageInfo_title %}

{% block pageInfo_message %}
A new root organisation is the start of something big. You'll be able to split root members into a custom hierachy you create, each sub organisation can be given different tasks & pathways.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container my-4">


  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <div class="text-center">
        {{ form.media }}
        <p>{{ form.title }}</p>
        <p>{{ form.description}}</p>
        <button class="btn btn-al">Create Organisation</button>
      </div>
  </div>
</div>
{% endblock %}
