<div class="modal fade" id="pathwayModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="pathwayModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pathwayModalLabel">Pathway</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="lead">Subscription status</p>
          <ul class="list-group-flush">
            <li class="list-group-item">Branch members: <span id="inOrgSubscribers">
              8
              </span>
            </li>
            <li class="list-group-item ps-0">
              <button class="btn btn-link text-start w-100 nounderline">Active pathway invites: <span id="inOrgSubscribers" class="text-black">
              8
              </span>
            </button>
            </li>
            <li class="list-group-item ps-0">
              <button class="btn btn-link text-start w-100 nounderline">Pending pathway invites: <span id="inOrgSubscribers" class="text-black">
              8
              </span>
            </button>
            </li>
            <li class="list-group-item ps-0">
              <button class="btn btn-link text-start w-100 nounderline">Members with external invite:  <span id="inOrgSubscribers" class="text-black">
              8
              </span>
            </button>
            </li>
            <li class="list-group-item">
              Unspent invites: <span id="inOrgSubscribers" class="text-black">
              8
              </span>
            </li>



          </ul>
          <div class="container">


          <button class="btn btn-al w-100 m-2">Send invites</button>
          <button class="btn btn-al w-100 m-2">Buy invites</button>
          </div>
        <p class="lead">Description</p>
        <p id="pathwayModalDescription" class="ps-4">
        </p>
        <p class="lead">Pathway contents</p>
        <ul class="list-group-flush" id="pathwayModalContentList">

        </ul>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary"><i class="far fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
</div>
