{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
Created Articles
{% endblock pageInfo_title %}

{% block pageInfo_message %}
This is an overview of the articles you have created. You'll see how they are being shared and other helpful stats on your content in the future.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container my-4">

<div class="text-center">
  {% for obj in object_list %}
    <p class="lead"><a href='{% url "written-lecture" obj.id %}'>{{ obj.title }}</a> | {{ obj.publish_date }} @ {{ obj.publish_time }}</p>
    {% endfor %}

</div>
</div>

{% endblock %}
