{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfo_title %}
CREATE ARTICLE
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Create an article. These are used for development purposes. Articles allow benchmark generation and can be added to a pathway. If you want to get the most out of this
from a readers perspective, and for benchmark generation purposes use the formatting tools to prettify it!
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <a class="anchor" id="begin"></a>
</div>
<div class="container text-center my-4">


  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      {{ form.media }}
      <p class="text-center">{{ form.title }}</p>
      <p>{{ form.body}}</p>

      <button class="btn btn-primary">Create Article</button>
    </div>
      </form>
  </div>
</div>

{% endblock %}
