{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
EDITING ARTICLE
{% endblock pageInfo_title %}

{% block pageInfo_message %}
You're editing a published article. Change the content or formatting below. When you're ready, confirm the changes with the update button.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container text-center my-4">


{% if user.is_authenticated %}
  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      {{ form.media }}
      <h4>{{ form.title }}</h4>
      <p>{{ form.body}}</p>

      <!-- doing as_p decides the element that each will be created for each field -->


      <button class="btn btn-al">Update</button>

      </form>
  </div>


</div>
{% else %}

<p> You must bethe creator of this pathway to edit it.  </p>

{% endif %}

{% endblock %}
