{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfo_title %}
ARTICLE
{% endblock pageInfo_title %}

{% block pageInfo_message %}
This is an article; lay your thoughts still, read and learn. If you found the content helpful, give it a thumbs up! If you're the developer, use it to generate benchmark content from the pathways menu.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <a class="anchor" id="begin"></a>
</div>
<div class="container">
  <div class="row my-4">
    <div class="col-9">
      <h4>{{ lit_lec.title }}</h4>
      <h6>Created {{ lit_lec.publish_date}} @ {{ lit_lec.publish_time }} by {{ lit_lec.author }}</h6>
    </div>
<!-- REPLY OR LOGIN FOR TOPIC TITLE ROW
################################################################################################################################################### -->
    <div class="col-1">
      {% if user.is_authenticated %}
        {% if user.id == lit_lec.author.id %}
        <span>
        <p><a href="{% url 'edit-literature' lit_lec.id %}#begin"><i class="far fa-edit"></i></a></p>
        <p><a href="#"><i class="far fa-trash-alt"></i></a></p>
        </span>
        {% else %}
        <a href="#"><i class="fas fa-reply"></i></a>
        {% endif %}
      {% else %}
        <a href="{% url 'login' %}"  role="button"><i class="far fa-user"></i></a>

        {% endif %}
      </div>
    <div class="col-2">
<!-- VOTING FOR TOPIC TITLE ROW
################################################################################################################################################### -->
      <div class="span">
        <form method="POST" action="#">
            {% csrf_token %}
            <input type="hidden" value="#" name="topic_id_to_vote">
            <p>
              {% if user.is_authenticated %}
                <a type="submit" class="text-primary" name="topic_vote_up"><i class="far fa-thumbs-up"></i></a>
                {% else %}
                <a type="disabled" class="text-primary"><i class="far fa-thumbs-up"></i></a>
                {% endif %}
            </p>
        </form>
        <form method="POST" action="#">
            {% csrf_token %}
            <input type="hidden" value="#" name="topic_id_to_vote">
            <p>
              {% if user.is_authenticated %}
                <a type="submit" class="text-primary" name="topic_vote_down"><i class="far fa-thumbs-down"></i></a>
                {% else %}
                <a type="disabled" class="text-primary"><i class="far fa-thumbs-down"></i></a>
                {% endif %}
              </p>
        </form>
      </div>
    </div>
  </div>
  <div class='text-break'>
    <hr>
    <p class="text-break">{{ lit_lec.body|safe }}</p>
  </div>
</div>
<div class="row">
  <a href='{% url "generate-qas" "literature" lit_lec.id %}#begin'>Generate draft questions</a>
</div>
{% endblock %}
