{% extends 'base.html' %}
{% load static %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
ARTICLE
{% endblock pageInfo_title %}

{% block pageInfo_message %}
This is an article; lay your thoughts still, read and learn. If you found the content helpful, give it a thumbs up! If you're the developer, use it to generate benchmark content from the pathways menu.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container text-center my-4">
<div class="row text-center">
    <h4>{{ lit_lec.title }}</h4>
    <h6>Created {{ lit_lec.create_date}} @ {{ lit_lec.create_time }} by {{ lit_lec.author }}</h6>
    <p> {{ lit_lec.description }}</p>
  </div>
{% if user.is_authenticated %}
  {% if participation_status %}

        <!-- REPLY OR LOGIN FOR TOPIC TITLE ROW
        ################################################################################################################################################### -->
            <div class="row">
              <ul class="nav justify-content-center">
                {% if user.is_authenticated %}
                  {% if user.id == lit_lec.author.id %}
                  <li class="nav-item px-2">
                    <button class="btn btn-link p-1" name="libraryPermissionModalLaunch" value="{{ lit_lec.library_type }}_{{lit_lec.id}}" data-bs-toggle="tooltip" title="View and edit library permissions"><i class="fas fa-book"></i></button>
                  </li>

                  <li class="nav-item px-2">
                    <a class="btn btn-link p-1" href='{% url "generate-qas" "literature" lit_lec.id %}' data-bs-toggle="tooltip" title="Generate questions from this content"><i class="fas fa-brain"></i></a>
                  </li>
                    <li class="nav-item px-2">
                      <a class="btn btn-link p-1" href="{% url 'update-article' lit_lec.id %}" data-bs-toggle="tooltip" title="Edit this article"><i class="far fa-edit"></i></a>
                    </li>
                    <li class="nav-item px-2">
                          <p><a class="btn btn-link p-1" href="#" data-bs-toggle="tooltip" title="Delete this article"><i class="far fa-trash-alt"></i></a></p>
                    </li>
                  {% endif %}
                {% else %}
                <li class="nav-item px-2">
                    <a class="btn btn-link p-1" href="{% url 'login' %}"  role="button" data-bs-toggle="tooltip" title="Login to vote"><i class="far fa-user"></i></a>
                </li>
                {% endif %}
                <li class="nav-item px-2">
                  <form method="POST" action="#">
                      {% csrf_token %}
                      <input type="hidden" value="#" name="topic_id_to_vote">
                      <p>
                        {% if user.is_authenticated %}
                          <button class="btn btn-link p-1" type="submit" class="text-primary" value="{{ lit_lec.library_type}}_{{lit_lec.id}}" name="submitVoteUp" data-bs-toggle="tooltip" title="Vote up!"><i class="far fa-thumbs-up"></i></button>
                          {% else %}
                          <button class="btn btn-link p-1" type="disabled" class="text-secondary" data-bs-toggle="tooltip" title="You must be logged into vote"><i class="far fa-thumbs-up"></i></button>
                          {% endif %}
                      </p>
                  </form>
                </li>
                <li class="nav-item px-2">
                  <form method="POST" action="#">
                      {% csrf_token %}
                      <input type="hidden" value="#" name="topic_id_to_vote">
                      <p>
                        {% if user.is_authenticated %}
                          <button class="btn btn-link p-1" type="submit" value="{{ lit_lec.library_type}}_{{lit_lec.id}}" class="text-primary" name="submitVoteDown" data-bs-toggle="tooltip" title="Vote down!"><i class="far fa-thumbs-down"></i></button>
                          {% else %}
                          <button class="btn btn-link p-1" type="disabled" class="text-secondary" data-bs-toggle="tooltip" title="You must be logged into vote"><i class="far fa-thumbs-down"></i></button>
                          {% endif %}
                        </p>
                  </form>
                </li>
              </ul>
            </div>
          <div class="row text-start">
          <div class='text-break'>
            <hr>
            <p class="text-break">{{ lit_lec.body|safe }}</p>
          </div>
        </div>
        <hr>
        <div class="row my-3">
          <div class="col-xs-12 col-md-4">
          </div>
          <div class="col-xs-12 col-md-4">
            <form method="POST">
            {% csrf_token %}

            {{ form.as_p }}


            <button name="submitArticleSession" type="submit" value="complete" class="btn btn-al w-100 my-2"><i class="fas fa-check-double text-primary"></i> I own this knowledge, mark as complete</button>
            <button name="submitArticleSession" type="submit" value="recap" class="btn btn-al w-100 my-2"><i class="fas fa-check text-primary"></i> I am ready to move but I need to recap this</button>
            <button name="submitArticleSession" type="submit" value="incomplete" class="btn btn-al w-100 my-2"><i class="far fa-pause-circle text-primary"></i> I didn't learn this yet, I'll move on later</button>
          </form>
          </div>
          <div class="col-xs-12 col-md-4">
        </div>
      </div>
  {% else %} {# User is not a participant #}
  <div class="container border border-primary rounded">


    <p class="my-4 lead">
      You are not part of a pathway that uses this content or you have not unlocked it at this stage.
    </p>
    <p class="my-4">
      (If you are already a member to one of these pathways you will need to complete prior content before you are able to view this in full)
  </p>
    <hr>
    <p>
      Get full access to this content you can request it by requesting to join one these pathways..
    </p>
    <ul class="list-group-flush">
    {% for pathway in part_of_pathways %}
    <li class="list-group-item">
      <a href="{% url 'pathway-view' pathway.id %}">{{ pathway.title }}</a>
    </li>

    {% endfor %}

  </div>
  {% endif %}

  {% else %} {# The user is not logged in #}
  <div class="container border border-primary rounded">
  <p class="my-4">
      You are not logged in, access to this content has been restricted.
      You can log in <a href="{% url 'login' %}" >here</a>
    </p>
  </div>
{% endif %}

</div>

{% include "edit_library_permissions_modal.html" %}
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/articles/viewArticle.js' %}"></script>
{% endblock scripts %}
