{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfo_title %}
EDITING ARTICLE
{% endblock pageInfo_title %}

{% block pageInfo_message %}
You're editing a published article. Change the content or formatting below. When you're ready, confirm the changes with the update button. 
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container my-4">

<div class="d-flex justify-content-center">

{% if user.is_authenticated %}
  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      {{ form.media }}
      <h4>{{ form.title }}</h4>
      <p>{{ form.body}}</p>

      <!-- doing as_p decides the element that each will be created for each field -->
      <div class="d-flex justify-content-center">

      <button class="btn btn-primary">Update</button>
    </div>
      </form>
  </div>

</div>
</div>
{% else %}

<p> You must bethe creator of this pathway to edit it.  </p>

{% endif %}

{% endblock %}
