{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
PATHWAYS
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Pathways are learnable content based on video lectures & written articles. User engagement is tested with benchmarks. Track your progression below and see an overview of pathways you're developing.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
    <h4 class="my-4">

       {{ pathway.title }}
    </h4>
    {% for pathway_obj in pathway.full_pathway.all %}
    <div class="row">
     <div class="col-1 mt-2">
       {{ pathway_obj.order_position }}
     </div>
     <div class="col-3 mt-2">
       {{ pathway_obj.pretty_content_type|title }}
     </div>
     <div class="col-6 mt-2">
       {% if pathway_obj.article %}<a href="{% url 'written-lecture' pathway_obj.article.id %}#begin">{{ pathway_obj.article.title }}</a>{% endif %}
       {% if pathway_obj.video %}<a href="{% url 'video-lecture' pathway_obj.video.id %}#begin">{{ pathway_obj.video.title }}</a>{% endif %}
       {% if pathway_obj.benchmark %}<a href="{% url 'benchmark' pathway_obj.benchmark.id %}#begin">{{ pathway_obj.benchmark.title }}</a>{% endif %}
     </div>
     <div class="col-2 mt-2">
       {% if user.is_authenticated %}
          {%  if participation_status %}
           <p><i class="fas fa-lock"></i></p>
           {% else %}
           <p><i class="fas fa-sign-in-alt"></i></p>
           {% endif %}
       {% endif %}
     </div>
   </div>


    {% endfor %}


       {% if user.is_authenticated %}
       <hr>
        {% if participation_status %}
              <p class="text-center"><a type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#pathway_leave">Leave Pathway</a></p>
        {% else %}
        <p class="text-center"><a type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#pathway_join">Join Pathway</a></p>

          <div class="modal fade" id="pathway_leave" tabindex="-1" aria-labelledby="pathway_leaveLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="pathway_leaveLabel">Leave pathway confirmation</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  You are trying to leave a pathway, leaving may effect your previous progress, Are you sure?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <form action="." method="POST">
                    {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <button name="leave_pathway" value="{{pathway.id}}" class="btn btn-al">Leave</button>
                </form>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="pathway_join" tabindex="-1" aria-labelledby="pathway_joinLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="pathway_joinLabel">Join pathway confirmation</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  You are joining this pathway, your progress can be tracked by the author, are you sure?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <form action="." method="POST">
                    {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <button name="join_pathway" value="{{pathway.id}}" class="btn btn-al">Join</button>
                </form>
                </div>
              </div>
            </div>
          </div>

      {% endif %}
    <hr>
      {% endif %}


{% endblock %}
