{% extends 'base.html' %}
{% load static %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
PATHWAY DEVELOPMENT
{% endblock pageInfo_title %}

{% block pageInfo_message %}
You're developing a pathway, add or change the content, set the order of completion and access permissions below.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container text-center my-4">
<div class="row text-center">
    <h4><a  class="nounderline" href="{% url 'pathway-view' pathway.id %}">{{ pathway.title }}</a></h4>
    <h6>Created {{ pathway.create_date}} @ {{ pathway.create_time }} by {{ pathway.author }}</h6>

  </div>
  <div class="row">

    <ul class="nav justify-content-center">
      {% if user.is_authenticated %}
        {% if user.id == pathway.author.id %}
        <li class="nav-item px-2">
          <a href="{% url 'pathway-content-create' pathway.id %}"> <i class="fas fa-plus"></i></a>
        </li>
        <li class="nav-item px-2">
  <a href="{% url 'pathway-edit' pathway.id %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Edit pathway title and description"><i class="far fa-edit"></i></a>
        </li>
        <li class="nav-item px-2">
            <a href="#" data-bs-toggle="tooltip" title="Delete this pathway"><i class="far fa-trash-alt"></i></a>
        </li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
  <div class="row">
    {{ pathway.description}}

  </div>
</div>

<hr>
  <input type="hidden" name="pathway_id" value="{{pathway.id}}">
  {% csrf_token %}
<div class="container" id="pathwayContent">



</div>
<input id="contentObjId" type="hidden" name="contentObjId" value="">

   <!-- Modal -->
   <div class="modal fade" id="contentSettingModal" tabindex="-1" aria-labelledby="contentSettingModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="contentSettingModalLabel">Content settings</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <div class="form-group">

             <form method="POST">
               {% csrf_token %}

               <div class="container">
                 <div class="row">
                   <div class="col-8">
                     <p>The user can complete this at any stage in the pathway</p>
                   </div>
                   <div class="col-4 me-auto">
                     <p>{{ form.complete_anytime_overide }}</p>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-8">
                     <p>Subsequent content is locked until this is completed</p>
                   </div>
                   <div class="col-4 me-auto">
                     <p>{{ form.complete_to_move_on }}</p>
                   </div>
                 </div>
                 <div class="row">
                   <div class="col-8">
                     <p>The user is prompted to recap this content</p>
                   </div>
                   <div class="col-4 me-auto">
                     <p>{{ form.revise_frequency }}</p>
                   </div>
                 </div>
               </div>



               </form>
           </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-al" data-bs-dismiss="modal">Close</button>
           <button onclick="postUpdateContentSetting()" id="updateContentSetting" type="button" class="btn btn-al">Update</button>
         </div>
       </div>
     </div>
   </div>
   <!-- Modal -->
   <div class="modal fade" id="contentDeleteModal" tabindex="-1" aria-labelledby="contentDeleteModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="contentDeleteModalLabel">Delete content from pathway</h5>
           <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
           <div class="form-group">
             Are you sure you want to remove this content from the pathway?
           </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-al" data-bs-dismiss="modal">Close</button>
           <button id='#deleteModalSubmit' onclick="ajax_submit_delete_pathway_content()" id="updateContentSetting" type="button" class="btn btn-al">Yes I want to remove it</button>
         </div>
       </div>
     </div>
   </div>


{% endblock %}

{% block scripts %}
<script src="{% static 'js/pathway/pathwayDev.js' %}"></script>
{% endblock scripts %}
