{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
EDIT PATHWAY
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Change the title or description of your pathway. If you want to change the content of the pathway, you'll need to head back <a href="#">here</a> where you assign and manage the content.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container my-4">

  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <p>{{ form.title }}</p>
      <br>
      <p>{{ form.description }}</p>

      <div class="d-flex justify-content-center">
        <button class="btn btn-primary">Update Pathway</button>
      </div>
      </form>
  </div>

  </div>
{% else %}

<p> You must bethe creator of this pathway to edit it.  </p>

{% endif %}

{% endblock %}
