{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}


{% block pageInfo_title %}
PATHWAYS
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Pathways are learnable content based on video lectures & written articles. User engagement is tested with benchmarks. Track your progression below and see an overview of pathways you're developing.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<div class="container my-4">


<div class="row my-4 border border-primary px-2 py-4">
  <h4 class="text-center">Pathways I've selected</h4>
  <div class="row">
  {% for path, path_items in user_pathways.items %}
    <a href='{% url "view-pathway" path.id %}' data-bs-toggle="tooltip" title="View this pathway"><h4> {{ path.title }}</h4></a>
    {% for path_content in path_items %}
      <div class="row">
        <div class="col-1">
          {{ path_content.order_by }}
        </div>
        <div class="col-3">
          {{ path_content.content_type|title }}
        </div>
        <div class="col-4">
          {% if path_content.written_lecture %}<a href="{% url 'written-lecture' path_content.written_lecture.id %}">{{ path_content.written_lecture.title }}</a>{% endif %}
          {% if path_content.video_lecture %}<a href="{% url 'video-lecture' path_content.video_lecture.id %}">{{ path_content.video_lecture.title }}</a>{% endif %}
          {% if path_content.quiz %}<a href="{% url 'benchmark' path_content.quiz.id %}">{{ path_content.quiz.title }}</a>{% endif %}
        </div>
        <div class="col-4">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
          </div>
        </div>
      </div>
    {% endfor %}

    {% endfor %}
  </div>
</div>
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxUSER GROUP PATHWAYSxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
<div class="row my-4 border border-primary px-2 py-4">

  <h4 class="text-center">Pathways Assigned to me</h4>
  {% for group in user_groups %}

    <div class="row my-4">
    <h4 class="text-end">From {{ group.name }}</h4>
    <hr>
    {% for item in group.group_pathways.all %}
    <h4><a href="">{{item.content_object.title|title }}</a></h4>
      {% for path_content in item.content_object.full_pathway.all %}
      <div class="row">
        <div class="col-1">
          {{ path_content.order_by }}
        </div>
        <div class="col-3">
          {{ path_content.content_type|title }}
        </div>
        <div class="col-4">
          {% if path_content.written_lecture %}<a href="{% url 'written-lecture' path_content.written_lecture.id %}">{{ path_content.written_lecture.title }}</a>{% endif %}
          {% if path_content.video_lecture %}<a href="{% url 'video-lecture' path_content.video_lecture.id %}">{{ path_content.video_lecture.title }}</a>{% endif %}
          {% if path_content.quiz %}<a href="{% url 'benchmark' path_content.quiz.id %}">{{ path_content.quiz.title }}</a>{% endif %}
        </div>
        <div class="col-4">
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%"></div>
          </div>
        </div>

      </div>
      {% endfor %}
      {% endfor %}


  </div>
    {% endfor %}
</div>


<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
  <div class="row border border-primary px-2 py-4">
      <h4 class="text-center">Developing</h4>
<!-- ***********************************************************************************-->

{% for path, path_items in developer_pathways.items %}
<div class="row my-4">
    <div class="col-6">
      <a href='{% url "pathway-develop" path.id %}'data-bs-toggle="tooltip" title="Go to this pathway"><h5 class="mt-2"> {{ path.title }}</h5></a>
    </div>
    <div class="col-6">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'pathway-content-create' path.pk %}" data-bs-toggle="tooltip" data-bs-placement="right" title="Add content to this pathway"><i class="fas fa-plus"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pathway-edit' path.id %}" data-bs-toggle="tooltip" data-bs-placement="left" title="Edit this pathway"><i class="far fa-edit"></i></a>
        </li>
        <li class="nav-item">
            <a type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#pathway_delete_modal">
              <i class="far fa-trash-alt"></i>
            </a>
        </li>
      </ul>
 </div>
 <div class="modal fade" id="pathway_delete_modal" tabindex="-1" aria-labelledby="pathway_delete_modalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="pathway_delete_modalLabel">Delete a pathway</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         You are trying to delete a pathway, there is no coming back from this. Are you sure?
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
         <form action="." method="POST">
           {% csrf_token %}
         <button name="delete_pathway" value="{{path.id}}" class="btn btn-primary">Delete</button>
       </form>
       </div>
     </div>
   </div>
 </div>
</div>

 <div class="container">
   {{ path.description }}
 </div>
  {% for path_content in path_items %}

   <div class="row">
    <div class="col-1 mt-2">
      {{ path_content.order_by }}
    </div>
    <div class="col-3 mt-2">
      {{ path_content.content_type|title }}
    </div>
    <div class="col-4 mt-2">
      {% if path_content.written_lecture %}<a href="{% url 'written-lecture' path_content.written_lecture.id %}">{{ path_content.written_lecture.title }}</a>{% endif %}
      {% if path_content.video_lecture %}<a href="{% url 'video-lecture' path_content.video_lecture.id %}">{{ path_content.video_lecture.title }}</a>{% endif %}
      {% if path_content.quiz %}<a href="{% url 'benchmark' path_content.quiz.id %}">{{ path_content.quiz.title }}</a>{% endif %}
    </div>
    <div class="col-4">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Move up in order"><i class="fas fa-chevron-up"></i></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Move down in order"><i class="fas fa-chevron-down"></i></a>
        </li>
        <li class="nav-item">
          {% if path_content.content_type == "benchmark"  %}
          <a class="nav-link" href="{% url 'edit-benchmark' path_content.quiz.id %}"><i class="far fa-edit"></i></a>
          {% elif path_content.content_type == "written-lecture"   %}
          <a class="nav-link" href="{% url 'edit-literature' path_content.written_lecture.id %}"><i class="far fa-edit"></i></a>
          {% else %}
          <a class="nav-link" href="{% url 'edit-video-lecture' path_content.video_lecture.id %}"><i class="far fa-edit"></i></a>
          {% endif %}
        </li>
        <li class="nav-item">
          <a type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#pathwayOBJ_delete_modal_{{ forloop.counter0 }}">
            <i class="far fa-trash-alt"></i>
          </a>
        </li>
      </ul>
    </div>


<!--- Modal ------------------------------------------------------------------------------------------------------------------------------------>
      <div class="modal fade" id="pathwayOBJ_delete_modal_{{ forloop.counter0 }}" tabindex="-1" aria-labelledby="pathwayOBJ_delete_modal_{{ forloop.counter0 }}Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pathwayOBJ_delete_modal_{{ forloop.counter0 }}Label">Delete a {{ path.content_type }} from pathway</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Do you want to delete
              {% if path_content.written_lecture %}{{ path_content.written_lecture.title }}{% endif %}
              {% if path_content.video_lecture %}{{ path_content.video_lecture.title }}{% endif %}
              {% if path_content.quiz %}{{ path_content.quiz.title }}{% endif %}
               from this pathway?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <form action="." method="POST">
                {% csrf_token %}
              <button name="delete_pathwayOBJ" value="{{ path_content.id }}" class="btn btn-primary">Delete</button>
            </form>
            </div>
          </div>
        </div>
      </div>
<!--- Modal ---------------------------------------------------------------------------------------------------------------------------------->

    </div>

    <hr>
{% endfor %}

{% endfor %}
  </div>
{% else %}
<p class=lead> You must be logged in to develop pathways</p>


{% endif %}
</div>
{% endblock %}
