{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}


{% block pageInfo_title %}
PATHWAYS
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Pathways are learnable content based on video lectures & written articles. User engagement is tested with benchmarks. Track your progression below and see an overview of pathways you're developing.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}


{% block content %}

{% if user.is_authenticated %}
<div class="my-4">


<div class="col border border-primary my-2 py-2">
  <h4 class="text-center">Followed Pathways</h4>
  {% for path in user_pathways %}
    <a  class="nounderline" href='{% url "pathway-view" path.id %}' data-bs-toggle="tooltip" title="View this pathway"><h5 class="ps-2"> {{ path.title }} <small class="text-black"> by {{ path.author }}</small></h5></a>

    {% endfor %}
</div>

<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
  <div class="col border border-primary my-2 py-2">
      <h4 class="text-center">Develop Pathways</h4>
<!-- ***********************************************************************************-->

{% for path, path_items in developer_pathways.items %}
<div class="row">
    <div class="col-8">
      <h5 class="mt-2 ms-2"><a class="nounderline" href='{% url "pathway-develop" path.id %}' data-bs-toggle="tooltip" title="Go to this pathway"> {{ path.title }}</a> {{path.description}}</h5>
    </div>
    <div class="col-4">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'pathway-content-create' path.pk %}" data-bs-toggle="tooltip" data-bs-placement="right" title="Add content to this pathway"><i class="fas fa-plus"></i></a>
        </li>
        <li class="nav-item">
            <a type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#pathway_delete_modal">
              <i class="far fa-trash-alt"></i>
            </a>
        </li>
      </ul>
 </div>
 <div class="modal fade" id="pathway_delete_modal" tabindex="-1" aria-labelledby="pathway_delete_modalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="pathway_delete_modalLabel">Delete a pathway</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         You are trying to delete a pathway, there is no coming back from this. Are you sure?
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
         <form action="." method="POST">
           {% csrf_token %}
         <button name="delete_pathway" value="{{path.id}}" class="btn btn-al">Delete</button>
       </form>
       </div>
     </div>
   </div>
 </div>
</div>

{% endfor %}
  </div>
{% else %}
<p class=lead> You must be logged in to develop pathways</p>


{% endif %}
</div>

{% endblock %}
