{% extends 'base.html' %}
{% block title %}Skill Paths{% endblock %}

{% block modulenav %}
{% include "pathway_nav.html" %}
{% endblock %}


{% block content %}
<div class="container">
  <a class="anchor" id="mypathways"></a>
</div>
{% if user.is_authenticated %}

<div class="row">
  <h4>Progression</h4>
  <hr>
  <div class="row">
  {% for path, path_items in user_pathways.items %}
    <a href='{% url "view-pathway" path.id %}' data-bs-toggle="tooltip" title="View this pathway"><h4> {{ path.title }}</h4></a>
    {% for path_content in path_items %}
      <div class="row">
        <div class="col-1">
          {{ path_content.order_by }}
        </div>
        <div class="col-3">
          {{ path_content.content_type|title }}
        </div>
        <div class="col-8">
          {% if path_content.written_lecture %}<a href="{% url 'written-lecture' path_content.written_lecture.id %}">{{ path_content.written_lecture.title }}</a>{% endif %}
          {% if path_content.video_lecture %}<a href="{% url 'video-lecture' path_content.video_lecture.id %}">{{ path_content.video_lecture.title }}</a>{% endif %}
          {% if path_content.quiz %}<a href="{% url 'quiz-app' path_content.quiz.id %}">{{ path_content.quiz.title }}</a>{% endif %}
        </div>
      </div>
    {% endfor %}
    <hr>
    {% endfor %}
  </div>
</div>
<br/>

  <div class="row">
      <h4>Development</h4>
 </div>
 <hr>

<!-- ***********************************************************************************-->

{% for path, path_items in developer_pathways.items %}
<div class="row">
    <div class="col-8">
      <a href='{% url "view-pathway" path.id %}'data-bs-toggle="tooltip" title="Go to this pathway"><h4> {{ path.title }}</h4></a>
    </div>
    <div class="col-4">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'new-pathway-obj' path.id %}" data-bs-toggle="tooltip" data-bs-placement="right" title="Add content to this pathway"><i class="fas fa-plus"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Edit this pathway"><i class="far fa-edit"></i></a>
        </li>
        <li class="nav-item">
            <a type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#pathway_delete_modal">
              <i class="far fa-trash-alt"></i>
            </a>
        </li>
      </ul>
 </div>
 <div class="modal fade" id="pathway_delete_modal" tabindex="-1" aria-labelledby="pathway_delete_modalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="pathway_delete_modalLabel">Delete a pathway</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         You are trying to delete a pathway, there is no coming back from this. Are you sure?
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
         <form action="." method="POST">
           {% csrf_token %}
         <button name="delete_pathway" value="{{path.id}}" class="btn btn-primary">Delete</button>
       </form>
       </div>
     </div>
   </div>
 </div>
</div>
 <div class="row">
   {{ path.description }}
 </div>
  {% for path_content in path_items %}

   <div class="row">
    <div class="col-1 mt-2">
      {{ path_content.order_by }}
    </div>
    <div class="col-3 mt-2">
      {{ path_content.content_type|title }}
    </div>
    <div class="col-5 mt-2">
      {% if path_content.written_lecture %}<a href="{% url 'written-lecture' path_content.written_lecture.id %}">{{ path_content.written_lecture.title }}</a>{% endif %}
      {% if path_content.video_lecture %}<a href="{% url 'video-lecture' path_content.video_lecture.id %}">{{ path_content.video_lecture.title }}</a>{% endif %}
      {% if path_content.quiz %}<a href="{% url 'quiz-app' path_content.quiz.id %}">{{ path_content.quiz.title }}</a>{% endif %}
    </div>
    <div class="col-3">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Move up in order"><i class="fas fa-chevron-up"></i></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="tooltip" data-bs-placement="left" title="Move down in order"><i class="fas fa-chevron-down"></i></a>
        </li>
        <li class="nav-item">
          <a type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#pathwayOBJ_delete_modal_{{ forloop.counter0 }}">
            <i class="far fa-trash-alt"></i>
          </a>
        </li>
      </ul>
    </div>


<!--- Modal ------------------------------------------------------------------------------------------------------------------------------------>
      <div class="modal fade" id="pathwayOBJ_delete_modal_{{ forloop.counter0 }}" tabindex="-1" aria-labelledby="pathwayOBJ_delete_modal_{{ forloop.counter0 }}Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pathwayOBJ_delete_modal_{{ forloop.counter0 }}Label">Delete a {{ path.content_type }} from pathway</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Do you want to delete
              {% if path_content.written_lecture %}{{ path_content.written_lecture.title }}{% endif %}
              {% if path_content.video_lecture %}{{ path_content.video_lecture.title }}{% endif %}
              {% if path_content.quiz %}{{ path_content.quiz.title }}{% endif %}
               from this pathway?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <form action="." method="POST">
                {% csrf_token %}
              <button name="delete_pathwayOBJ" value="{{ path_content.id }}" class="btn btn-primary">Delete</button>
            </form>
            </div>
          </div>
        </div>
      </div>
<!--- Modal ---------------------------------------------------------------------------------------------------------------------------------->

    </div>
    <hr>
{% endfor %}

{% endfor %}
{% else %}
<p> boom! </p>
{% endif %}
{% endblock %}
