{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
PATHWAY
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Pathways are learnable content based on video lectures & written articles. User engagement is tested with benchmarks. Track your progression below and see an overview of pathways you're developing.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container text-center my-4">
<div class="row text-center">
    <h4>{{ pathway.title }}</h4>
    <h6>Created {{ pathway.create_date}} @ {{ pathway.create_time }} by {{ pathway.author }}</h6>

  </div>
  <div class="row">

    <ul class="nav justify-content-center">
      {% if user.is_authenticated %}
        {% if user.id == pathway.author.id %}

          <li class="nav-item px-2">
            <a href="{% url 'pathway-develop' pathway.id %}" data-bs-toggle="tooltip" title="Edit this pathway"><i class="far fa-edit"></i></a>
          </li>

        {% endif %}
      {% else %}
      <li class="nav-item px-2">
          <a href="{% url 'login' %}"  role="button" data-bs-toggle="tooltip" title="Login to vote"><i class="far fa-user"></i></a>
      </li>
      {% endif %}
      <li class="nav-item px-2">
        <form method="POST" action="#">
            {% csrf_token %}
            <input type="hidden" value="#" name="topic_id_to_vote">
            <p>
              {% if user.is_authenticated %}
                <a type="submit" class="text-primary" name="topic_vote_up" data-bs-toggle="tooltip" title="Vote up!"><i class="far fa-thumbs-up"></i></a>
                {% else %}
                <a type="disabled" class="text-secondary" data-bs-toggle="tooltip" title="You must be logged into vote"><i class="far fa-thumbs-up"></i></a>
                {% endif %}
            </p>
        </form>
      </li>
      <li class="nav-item px-2">
        <form method="POST" action="#">
            {% csrf_token %}
            <input type="hidden" value="#" name="topic_id_to_vote">
            <p>
              {% if user.is_authenticated %}
                <a type="submit" class="text-primary" name="topic_vote_down" data-bs-toggle="tooltip" title="Vote down!"><i class="far fa-thumbs-down"></i></a>
                {% else %}
                <a type="disabled" class="text-secondary" data-bs-toggle="tooltip" title="You must be logged into vote"><i class="far fa-thumbs-down"></i></a>
                {% endif %}
              </p>
        </form>
      </li>
    </ul>
  </div>
  <div class="row">
    <p>{{pathway.description}}</p>
  </div>

</div>
  <hr>
  <div class="container mx-2">


    {% for pathway_obj in pathway_content %}
    <div class="row">
     <div class="col-1 mt-2">
       {{ pathway_obj.0.order_position }}
     </div>
     <div class="col-1 mt-2">
       {% if pathway_obj.0.content_type == "article" %}
       <i class="far fa-newspaper"></i>
       {% elif pathway_obj.0.content_type == "video" %}
       <i class="fas fa-film"></i>
       {% elif pathway_obj.0.content_type == "benchmark" %}
       <i class="fas fa-balance-scale-right"></i>
       {% else %}
       {{ pathway_obj.0.content_type }}
       {% endif %}
     </div>
     <div class="col-7 mt-2">
       {% if pathway_obj.0.article %}
        {% if pathway_obj.1 %}
         <a href="{% url 'article' pathway_obj.0.article.id %}">
           {{ pathway_obj.0.article.title }}
         </a>
         {% else %}
         {{ pathway_obj.0.article.title }}
         {% endif %}
       {% endif %}

       {% if pathway_obj.0.video %}
         {% if pathway_obj.1 %}
           <a href="{% url 'video-lecture' pathway_obj.0.video.id %}">
             {{ pathway_obj.0.video.title }}
           </a>
        {% else %}
          {{ pathway_obj.0.video.title }}
        {% endif %}

       {% endif %}

       {% if pathway_obj.0.benchmark %}
         {% if pathway_obj.1 %}
         <a href="{% url 'benchmark' pathway_obj.0.benchmark.id %}">
           {{ pathway_obj.0.benchmark.title }}
         </a>
         {% else %}
         {{ pathway_obj.0.benchmark.title }}
         {% endif %}
       {% endif %}

     </div>
     <div class="col-3 mt-2">
       {% if participation_status %}
       {{ pathway_obj.2}}
       {% else %}
       <i class="fas fa-lock"></i>
       {% endif %}

     </div>
   </div>


    {% endfor %}
  </div>

  {% if user.is_authenticated %}
        <hr>
        {% if participation_status %}
            <p class="text-center">
              <a type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#pathway_leave">
                Leave Pathway
              </a>
            </p>
            <div class="modal fade" id="pathway_leave" tabindex="-1" aria-labelledby="pathway_leaveLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="pathway_leaveLabel">Leave pathway confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    You are trying to leave a pathway, leaving may effect your previous progress, Are you sure?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="." method="POST">
                      {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button name="leave_pathway" value="{{pathway.id}}" class="btn btn-al">Leave</button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
        {% else %}
        <p class="text-center"><a type="button" class="btn text-primary" data-bs-toggle="modal" data-bs-target="#pathway_join">Join Pathway</a></p>

          <div class="modal fade" id="pathway_join" tabindex="-1" aria-labelledby="pathway_joinLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="pathway_joinLabel">Join pathway confirmation</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  You are joining this pathway, your progress can be tracked by the author, are you sure?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <form action="." method="POST">
                    {% csrf_token %}
                  <input type="hidden" name="next" value="{{ request.path }}">
                  <button name="join_pathway" value="{{pathway.id}}" class="btn btn-al">Join</button>
                </form>
                </div>
              </div>
            </div>
          </div>

      {% endif %}
    <hr>
    {% else %}
    <div class="container border border-primary rounded my-4">
    <p class="my-4">
        You are not logged in, access to this content has been restricted.
        You can log in <a href="{% url 'login' %}" >here</a>
      </p>
    </div>
      {% endif %}


{% endblock %}
{% block scripts%}
{% endblock %}
