{% load static %}
<div class="desktop">
<div class="card border border-white my-2">
  <img class="card-img-top" src="{% static 'media/web/l3.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">PATHWAYS GUIDE</h5>
    <p class="card-text">AIMS-Lib Pathways allows you to create and share content to develop a new skill</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="#">Take me to the full guide</a></li>
    <li class="list-group-item"><a href="#">Video Tutorials</a></li>
    <li class="list-group-item"><a href="#">Written Articles</a></li>
    <li class="list-group-item"><a href="#">Benchmarks</a></li>
  </ul>
</div>
</div>
<br/>
<div class="desktop">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'media/web/pa1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">THE OURA RING</h5>
      <p class="card-text">A good nights rest is not optional. Know why you feel how you feel</p>
      <a href="#" class="btn btn-primary">Check our sleep guide</a>
    </div>
  </div>
</div>
<br/>
<div class="desktop">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'media/web/pa2.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">BLUE LIGHT BLOCKERS</h5>
      <p class="card-text">A good nights rest is not optional. -Check the tools to optimise yours</p>
      <a href="#" class="btn btn-primary">Check our sleep guide</a>
    </div>
  </div>
</div>
