
<div class="card text-center  border-0 navpad">

  <div class="card-body">
    <h5 class="card-title">PATHWAYS</h5>
    <p class="card-text">Here you can track your pathway progress or develop your own. Pathway organises & shares course content providing automated assessment and recap benchmarking</p>
  </div>
</div>
<div class="sticky-top navpad">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PATHWAYS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <span class="navbar-text">
          Browse
        </span>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-file-alt"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fas fa-file-video"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user-benchmarks' %}#begin"><i class="fas fa-file-signature"></i></a>
        </li>
      <span class="navbar-text">
        Develop
      </span>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'new-written-lecture' %}#begin"><i class="fas fa-file-alt"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'new-video-lecture' %}#begin"><i class="fas fa-file-video"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'new-pathway' %}#begin"><i class="fas fa-file-signature"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create-benchmark' %}#begin"><i class="fas fa-file-signature"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#developer"><i class="fas fa-wrench"></i></a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li id="verifyQAGstatus" class="nav-item">
      </li>
      </ul>

    </div>
  </div>
</nav>
</div>

<script type="text/javascript">
$(document).ready(function (){
  checkGQBstatus();
  setInterval(checkGQBstatus, 500);
});
function checkGQBstatus(){
  $.ajax({url: "/check-gqb-status/",
          type: "GET",
          success: function(response){
            var textLink = '<a class="nav-link active" href="/verify-gqb/">['+response.gqb_quantity+' ready to verify]</a>'
            if(response.gqb_quantity > 0){
              $('#verifyQAGstatus').html(textLink)
            }else{
              $('#verifyQAGstatus').empty();
            };
          }})
}
</script>
