{% extends 'base.html' %}
{% load static %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
PATHWAY DEVELOPMENT
{% endblock pageInfo_title %}

{% block pageInfo_message %}
You're developing a pathway, add or change the content, set the order of completion and access permissions below.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<h4 class="my-4">

   {{ pathway.title }}

</h4>
  <input type="hidden" name="pathway_id" value="{{pathway.id}}">
  {% csrf_token %}
<div class="container" id="pathwayContent">



</div>

   </div>




{% endblock %}

{% block scripts %}
<script src="{% static 'js/pathway/pathwayDev.js' %}"></script>
{% endblock scripts %}
