{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
CREATING PATHWAY
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Pathway - "A way of achieving a specified result; a course of action". Group videos, articles & benchmarks. Assign order and completion requirements. Begin by giving a title and description of what the user will achieve by following this pathway.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container my-4">

  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      {{ form.title }}
      <br>
      {{ form.description }}
      <br>
      <div class="d-flex justify-content-center">
        <button class="btn btn-al">Create & start adding content</button>
      </div>
      </form>
  </div>
</div>

{% endblock %}
