{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="/static/css/bootstrap.css"/>

    {% block headScripts %}
    {% endblock headScripts %}
    <title>{% block title %}AIMS-LIB{% endblock %}</title>
  </head>
  <body>


    <!-- NAVIGATION & Messages (FIXED TO TOP)
    ################################################################################# -->
    {% block main_nav %}
        <div class="fixed-top bg-primary px-xs-0">
            <div class="container">
              {% include 'navigation.html' %}
            </div>
            {% if messages %}
            <div class="container">
              {% for message in messages %}
              <div class="container-fluid p-0">
                <div class="alert {{message.tags}}" role="alert" >
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endblock main_nav %}
  <!-- MAIN CAROUSELF (FULL SCREEN WIDTH)
  ################################################################################# -->
{% block topcarousel %}
{% include "base_main_carousel.html" %}
{% endblock %}


<!-- TOP HALF PAGE
################################################################################# -->
      <div class="container navpad px-xs-0">
       <div class="row px-xs-0">
    <!-- LEFT BAR
    ################################################################################# -->

    <!-- MAIN CONTENT
    ################################################################################# -->
    {% block pageInfoCaro %}
      <div class="card text-center border-0 px-xs-0">
        <div class="card-body px-xs-0">
          <h5 class="card-title">
            {% block pageInfo_titleCaro %}
            HOME
            {% endblock pageInfo_titleCaro %}
          </h5>
          <p class="card-text">
            {% block pageInfo_messageCaro %}
            Here you can track your pathway progress or develop your own. Pathway organises & shares course content providing automated assessment and recap benchmarking
            {% endblock pageInfo_messageCaro %}
          </p>
        </div>
      </div>
    {% endblock pageInfoCaro %}

    {% block pageInfo %}
      <div class="card text-center border-0 navpad px-xs-0">
        <div class="card-body">
          <h5 class="card-title">
            {% block pageInfo_title %}
            HOME
            {% endblock pageInfo_title %}
          </h5>
          <p class="card-text">
            {% block pageInfo_message %}
            Here you can track your pathway progress or develop your own. Pathway organises & shares course content providing automated assessment and recap benchmarking
            {% endblock pageInfo_message %}
          </p>
        </div>
      </div>
    {% endblock pageInfo %}


        <div class="container-fluid px-0">
          {% block modulenav %}

          {% endblock %}

          {% block content %}
          {% endblock %}
        </div>

<!-- END OF TOP HALF CONTAINERS
################################################################################# -->
      </div>
    </div>

<!--MID PAGECAROUSEL
################################################################################# -->
  <div class="container-fluid my-4">
    {% block contentCarousel %}
    {% endblock %}
  </div>
<!--END MID CAROUSEL
################################################################################# -->


<!-- BOTTOM HALF PAGE
################################################################################# -->
      <div class="container">
       <div class="row">
         <div class="col my-2">
           {% block bottomnav %}

           {% endblock bottomnav %}

        {% block bottomcontent %}
        {% endblock %}
        </div>
      </div>
    </div>

    <!-- BOTTOM CAROSEUL
    ################################################################################# -->
  <div class="container-fluid my-4">
    {% block bottomcarousel %}
    {% include "base_bottom_carousel.html" %}
    {% endblock %}
  </div>

    {% block scripts %}
    {% endblock scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/allWebsite.js"></script>
  </body>

</html>
