{% extends base.html %}
{% load static %}


{% block main_nav %}
{% endblock main_nav %}

{% block topcarousel %}
{% endblock topcarouse %}

{% block pageInfoCaro %}
  {% block pageInfo_titleCaro %}
  {% endblock pageInfo_titleCaro %}

  {% block pageInfo_messageCaro %}
  {% endblock pageInfo_messageCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo %}
  {% block pageInfo_title %}
  {% endblock pageInfo_title %}

  {% block pageInfo_message %}
  {% endblock pageInfo_message %}
{% endblock pageInfo %}

{% block modulenav %}
{% endblock modulenav %}

{% block content %}
{% endblock content %}

{% block contentCarousel %}
{% endblock contentCarousel %}

{% block bottomnav %}
{% endblock bottomnav %}

{% block bottomcontent %}
{% endblock bottomcontent %}

{% block bottomcarousel %}
{% endblock bottomcarousel %}

{% block scripts %}
{% endblock scripts %}
