{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">AIMSLib</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'aims-dash' %}">My AIMS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'pathways' %}">Pathways</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'community-home' %}">Community</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.get_username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if user.profile %}<li><a class="dropdown-item" href="{% url 'member-profile' user.profile.id %}">Profile</a></li>{%else%}
            <li><a class="dropdown-item" href="{% url 'member-profile-create' %}">Activate Profile</a></li>{%endif%}
            <li><a class="dropdown-item" href="{% url 'member-edit' %}">Account settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>

          </ul>
        </li>

        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Register/Login
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'member-register' %}">Register</a></li>
            <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
