{% extends 'base.html' %}
{% block title %}AIMS{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
CREATING AN AIM
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Hey {{ user }}! Just by being here, you're taking a step closer to the future you desire. Set a category, change your aim, and your reasons why below. If you need help structuring a successful aim, check out our pathway article, <a href="#">Crafting your future</a>.
{% endblock pageInfo_message %}

{% block modulenav %}
{% include "aims_nav.html" %}
{% endblock %}

{% block content %}
<div class="container text-center my-4">


  <div class="form-group">
    <form method="post">
      {% csrf_token %}

        <p>{{ form.category }}</p>
        <p>{{ form.title }}</p>
        <p>{{ form.why }}</p>

      <!-- doing as_p decides the element that each will be created for each field -->
      <button type="submit" class="btn btn-primary me-auto">Take a step forward</button>
      </form>
  </div>
</div>
{% endblock %}

{% block modulenav_bottom %}
{% endblock %}

{% block bottomleftbar  %}
{% endblock %}

{% block bottomcontent %}
{% endblock %}

{% block bottomrightbar  %}
{% endblock %}
