{% extends 'base.html' %}

{% block title %} Create a new Aim{% endblock %}


{% block modulenav %}
{% include "aims_nav.html" %}
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <h1 class="text-start">Creating a new aim</h1>
    <br/>
    <div class="col-3">
    </div>
    <div class="col-9">
      <div class="bs-component">
        <figure>
          <blockquote class="blockquote">
            <p>"Hey {{ user.get_username }}! Wonderful, you're creating a new aim. To begin, select a category from our global commmunities, or create a custom one.
              Add a description and most importantly why in great detail. It's important you understand what we mean by aims. Try <a href='#'>Starting your map</a>  or
              scroll down for an example.
               </p>
          </blockquote>
          <figcaption class="blockquote-footer">
          AIMSducator <cite title="Source Title">Using AIMS-Lib</cite>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="container">


  <div class="form-group">
    <form method="post">
      {% csrf_token %}

        <p>{{ form.category }}</p>
        <p>{{ form.title }}</p>
        <p>{{ form.why }}</p>

      <!-- doing as_p decides the element that each will be created for each field -->
      <button type="submit" class="btn btn-primary me-auto">Take a step forward</button>
      </form>
  </div>
</div>

{% endblock %}
{% block bottomcarousel %}
{% endblock %}

{% block bottomcontent %}
<h1> Enter example here..............</h1>
<h1> Enter example here..............</h1>
<h1> Enter example here..............</h1>
<h1> Enter example here..............</h1>
<h1> Enter example here..............</h1>
<h1> Enter example here..............</h1>
<h1> Enter example here..............</h1>
{% endblock %}
