{% extends 'base.html' %}
{% load static %}
{% block headScripts %}
<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/cal-map-extra.css' %}"> />
{% endblock headScripts %}
{% block title %}AIMS{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
AIMS DASH
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Set your aims, behaviours & trackers below. Go to quickfire aims to log any outstanding trackers.<br> If your new, checkout the userguide or complete the pathway <a href="#">Crafting your future</a> before you proceed!
{% endblock pageInfo_message %}

{% block modulenav %}
  {% if user.is_authenticated %}
    {% if has_user_profile %}
      {% include "aims_nav.html" %}
    {% endif %}
  {% endif %}
{% endblock %}
{% block content %}
<div class="container">
  <a class="anchor" id="myaims"></a>
</div>
<div class="my-4">
  {% if user.is_authenticated %}
    {% if has_user_profile %}
      {% include "user_aims.html" %}
      {% else %}
      <div class="text-center my-4">
        <p class="lead"> You haven't activated your profile yet, until you do you cannot use this feature. Click the link below, confirm your details and your set to go!</p>
      <p class="text-center"><a  href="{% url 'member-profile-create' %}"> Activate member profile </a></p>
    </div>
    {% endif %}
    {% else %}
    <div class="text-center my-4">
      <p class="lead"> You aren't logged in or haven't registered yet. You'll have to do that before you continue. Follow a link below to continue.</p>
      <p class="text-center my-2"><a class="btn btn-primary" href="{% url 'member-register' %}">Register</a></p>
      <p class="text-center my-2"><a class="btn btn-primary" href="{% url 'login' %}">Login</a></p>
  </div>
    {% endif %}
  </div>
    {% endblock %}
    {% block contentCarousel %}
      {% include "base_bottom_carousel.html" %}
    {% endblock %}

    {% block bottomnav %}
    {% endblock bottomnav %}

    {% block bottomcontent %}
      {% if user.is_authenticated %}
        {% if has_user_profile %}

            {% include "quick_fire_aims.html" %}

        {% endif %}
      {% endif %}
    {% endblock %}

    {% block bottomcarousel %}
    {% endblock %}


{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="{% static 'js/development/aimsDash.js' %}"></script>
{% endblock scripts %}
