{% extends 'base.html' %}
{% block title %}AIMS{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfo_title %}
AIMS DASH
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Set your aims, behaviours & trackers below. Go to quickfire aims to log any outstanding trackers.<br> If your new, checkout the userguide or complete the pathway <a href="#">Crafting your future</a> before you proceed!
{% endblock pageInfo_message %}

{% block modulenav %}
{% include "aims_nav.html" %}
{% endblock %}
{% block content %}
<div class="container">
  <a class="anchor" id="myaims"></a>
</div>
<div class="container">
  {% if user.is_authenticated %}
    {% if has_user_profile %}
      {% include "user_aims.html" %}
      {% else %}
      <div class="row">
        <h1 class="text-start">MEMBER PROFILE REQUIRED</h1>
        <br/>
        <div class="col-3">
        </div>
        <div class="col-9">
          <div class="bs-component">
            <figure>
              <blockquote class="blockquote">
                <p>"You have to activate your profile before using this feature. Follow the link below</p>
              </blockquote>
              <figcaption class="blockquote-footer">
              AI@MSlib <cite title="Source Title">Using Aims-Lib</cite>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
      <p class="text-center"><a  href="{% url 'member-profile-create' %}#begin"> Activate member profile </a></p>
    {% endif %}
    {% else %}
    <div class="row">
      <h1 class="text-start">USER REGISTRATION REQUIRED</h1>
      <br/>
      <div class="col-3">
      </div>
      <div class="col-9">
        <div class="bs-component">
          <figure>
            <blockquote class="blockquote">
              <p>"We can't take you any further until you have registered as a user, please follow the link below"</p>
            </blockquote>
            <figcaption class="blockquote-footer">
            Aimsducator <cite title="Source Title">Using Aims-Lib</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
    {% endblock %}
    {% block contentCarousel %}
      {% include "base_bottom_carousel.html" %}
    {% endblock %}

    {% block bottomnav %}
      {% include "aims_nav.html" %}
    {% endblock bottomnav %}

    {% block bottomcontent %}
      {% if user.is_authenticated %}
        {% if has_user_profile %}
          <div class="container my-4">

            {% include "quick_fire_aims.html" %}

          </div>
        {% endif %}
      {% endif %}
    {% endblock %}

    {% block bottomcarousel %}
    {% endblock %}
