{% extends 'base.html' %}
{% block title %} Your Aims {% endblock %}

{% block sectiontitle %}
<p>Here you can check, adjust & set all your AIMS</p>
{% endblock %}


{% block leftbar %}
{% include "aims_left_bar.html" %}
{% endblock %}


{% block content %}
{% if user.is_authenticated %}
{% if user.profile %}
<div class="container">
  <a class="anchor" id="myaims"></a>
  <br/>
    <div class="row">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'aims-new' %}">Create a new Aim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#quickaims">Go to quick aims</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'aims-new' %}">See our full guide</a>
        </li>
      </ul>
    </div>
</div>
{% else %}
<p> fuck</p>

{% endif %}


{% include "aims.html" %}
{% else %}
<p> You must login or register to starting using this AIMSLib feature </p>

{% endblock %}

{% block bottomcontent %}
{% include "quick_fire_aims.html" %}
{% endblock %}
