{% extends 'base.html' %}
{% block title %}AIMS{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}


{% block pageInfo_title %}
EDITING BEHAVIOUR
{% endblock pageInfo_title %}

{% block pageInfo_message %}

You're editing the behaviour you set for.. "{{ aim_for_lever.title }}". Change as necessary and hit update, any changes here will not affect your step trackers.
{% endblock pageInfo_message %}


{% block modulenav %}
{% include "aims_nav.html" %}
{% endblock %}
{% block content %}

<div class="container my-4">


  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      {{ form.title }}

      <div class="container text-center my-2">
      <button class="btn btn-primary">Update</button>

    </div>
      </form>
  </div>
</div>

{% endblock %}

{% block modulenav_bottom %}
{% endblock %}

{% block bottomleftbar  %}
{% endblock %}

{% block bottomcontent %}
{% endblock %}

{% block bottomrightbar  %}
{% endblock %}
