{% extends 'base.html' %}
{% load static %}
{% block title %}AIMS{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}


{% block pageInfo_title %}
CREATING BEHAVIOUR
{% endblock pageInfo_title %}

{% block pageInfo_message %}

If you remember from our pathway article <a href="#">Crafting your future</a>,  behaviours are something you do that align with your aim. They form through repeating actionable steps. We'll get to them soon enough. You're setting this behaviour for.. "{{ aim_for_lever.title }}".
{% endblock pageInfo_message %}

{% block modulenav %}
{% include "aims_nav.html" %}
{% endblock %}
{% block content %}
<div class="container my-4">
<div class="row text-center">
  <div class="col-xs-12 col-md-6">
    <div class="container border border-primary rounded p-3 my-2">
      <form method="post">
        {% csrf_token %}

        <p class="lead">Create a new behaviour</p>
        {{ form.title }}
        <br>
        <button class="btn btn-al w-100">Add new behaviour</button>
      </form>
    </div>
  </div>
      <div class="col-xs-12 col-md-6">
        <div class="container border border-primary rounded p-3 my-2">

        <p class="lead">Select from bookmarks</p>
        <form method="post">
          {% csrf_token %}
        <p class="mt-2 mb-4">
          <select class="form-select" aria-label="bookmark_to_copy" name="bookmark_id" id="selectBookmark">

          <option selected>My bookmarked behaviours</option>
          {% for bookmark in bookmarked_behaviours %}
          <option value="{{bookmark.id}}">{{bookmark.behaviour.title}}</option>
          {% endfor %}

        </select>
      </p>

        <div class="row">
          <div class="col-8">

            <button class="btn btn-al w-100">Copy from bookmark</button>

          </div>
        </form>
          <div class="col-4">

            <button class="btn btn-al w-100" name="loadLibraryItemFromBookmark">Preview</button>
          </div>
        </div>

      </div>
    </div>
</div>

</div>
{% include "view_behaviour_result_modal.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/development/behaviourCreate.js' %}"></script>
{% endblock scripts %}
