{% extends 'base.html' %}
{% block title %}AIMS{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfo_title %}
AIMS
{% endblock pageInfo_title %}

{% block pageInfo_message %}
This content is still under development.<br> In the future, this is where you will complete the content and submit your results. Benchmarks can be customised to allow different formats of questions and completion times.
{% endblock pageInfo_message %}

{% block modulenav %}
{% include "aims_nav.html" %}
{% endblock %}
{% block content %}
<div class="container">
  <a class="anchor" id="begin"></a>
</div>
<br/>
<h4>Editing Behaviour</h4>
<br/>


<div class="container">


  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <!-- doing as_p decides the element that each will be created for each field -->
      <button class="btn btn-primary">Update</button>
      </form>
  </div>
</div>

{% endblock %}

{% block modulenav_bottom %}
{% endblock %}

{% block bottomleftbar  %}
{% endblock %}

{% block bottomcontent %}
{% endblock %}

{% block bottomrightbar  %}
{% endblock %}
