{% extends 'base.html' %}

{% block title %} Logging a tracker!{% endblock %}


{% block topcarousel %}
{% endblock %}

{% block modulenav %}
{% include "aims_nav.html" %}
{% endblock %}
{% block content %}

<div class="container">
  <a class="anchor" id="begin"></a>
</div>
<br/>
<h4> New tracker record </h4>
<br/>

<div class="container">
  <div class="form-group">

    <form method="post">
      {% csrf_token %}
      {{ form.metric_quantity }}
      <!-- doing as_p decides the element that each will be created for each field -->
      <br/>
      <button class="btn btn-light">Save Results</button>
      </form>
  </div>
</div>

{% endblock %}
{% block modulenav_bottom %}
{% endblock %}

{% block bottomleftbar  %}
{% endblock %}

{% block bottomcontent %}
{% endblock %}

{% block bottomrightbar  %}
{% endblock %}
