<br/>
<div class="row">
  <a class="anchor" id="quickaims"></a>
  <input type="hidden" name="user_id" value="{{ user.id }}">
</div>

<div class="container-fluid my-4 px-0">
  <h4>Today</h4>
  <ul class="list-group list-group-flush" id="displayToday">
  </ul>
  <h4>This week</h4>
  <ul class="list-group list-group-flush" id="displayWeek">
  </ul>
  <h4>This month</h4>
  <ul class="list-group list-group-flush" id="displayMonth">
  </ul>
  <h4>This year</h4>
  <ul class="list-group list-group-flush" id="displayYear">
  </ul>

</div>
