{% extends 'base.html' %}
{% block title %}AIMS{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
CREATING A STEPTRACKER
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Now we're getting to the nitty gritty. Here's where you create a step that when repeated moves you towards new behaviours and your aims. There's a few setttings, click the info button on each one for more details. or read the guide <a href="#">here</a>.
{% endblock pageInfo_message %}
{% load static %}
{% block modulenav %}
{% include "aims_nav.html" %}
{% endblock %}

{% block content %}
<div class="container text-center my-4">


  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      <select class="form-select my-2" aria-label="bookmark_to_copy" name="bookmark_id" id="selectBookmark">

      <option selected>-- Select from my bookmarked step trackers --</option>
      {% for bookmark in bookmarks %}
      <option value="{{bookmark.id}}">{{bookmark.steptracker.get_tsentence}}</option>
      {% endfor %}

    </select>

    <div class="row my-2">
      <div class="col-8 my-2">

        <button class="btn btn-al w-100">Create copy of selected tracker</button>

      </div>
    </form>
      <div class="col-4 my-2">

        <button class="btn btn-al w-100" name="loadLibraryItemFromBookmark">Preview</button>
      </div>
    </div>

  </div>
</div>
{% include "view_steptracker_result_modal.html" %}
{% endblock %}

{% block modulenav_bottom %}
{% endblock %}

{% block bottomleftbar  %}
{% endblock %}

{% block bottomcontent %}
{% endblock %}

{% block bottomrightbar  %}
{% endblock %}
{% block scripts %}
<script src="{% static 'js/development/stepTrackerCreate.js' %}"></script>
{% endblock scripts %}
