{% extends 'base.html' %}

{% block title %} Select a Tracker{% endblock %}
{% block modulenav %}
{% include "aims_nav.html" %}
{% endblock %}
{% block content %}
<div class="container">

  <h1> Select a Tracker for.. </h1>
  <!-- Button trigger modal -->
  <p class="lead"> "{{ on_lever.description }}"</p>
  <div class="accordion" id="AvailableTrackerAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Minimum to Aim tracker
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#AvailableTrackerAccordion">
        <div class="accordion-body">
          <p>
          <strong>The Minimum to Aim tracker</strong> gives you an easily achievable 'show up' target alongside one that you know will bring the gains! This is invaluable when
          forming a new habit. Showing up for a 5 mile run might just mean half a mile on the days where you just don't have it in you.
          </p>
          <p>
            <strong>
              Add this tracker... (fill in the blanks and submit)
              </strong>
              </p>{{ min_aim_form.media }}
              <form class="form-group" method="post">
                  {% csrf_token %}
                  {% for field in min_aim_form %}
                    <div class="form-group row">

                      <div class="col-12">
                        {{ field }}
                      </div>
                    </div>



                  {% endfor %}
                  {# {{ min_aim_form.as_table }} #}
                  <input type="submit" name="min_aim_tracker_submit" value="Submit">

              </form>



        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="booleanSection">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBoolean" aria-expanded="false" aria-controls="collapseBoolean">
          Yes or No Tracker
        </button>
      </h2>
      <div id="collapseBoolean" class="accordion-collapse collapse" aria-labelledby="booleanSection" data-bs-parent="#AvailableTrackerAccordion">
        <div class="accordion-body">
          <p>
          <strong>The Yes or No Tracker</strong> Allows you to craft a yes or no statement and track your progress at achieving it over a period of time.
          </p>
          <p>
            <strong>
              Add this tracker... Enter yes or no quesition and how often you would like to be asked it.
              </strong>
            </p>{{ boolean_form.media }}
              <form class="form-group" method="post">
                  {% csrf_token %}
                  {% for field in boolean_form %}
                    <div class="form-group row">

                      <div class="col-12">
                        {{ field }}
                      </div>
                    </div>



                  {% endfor %}
                  {# {{ min_aim_form.as_table }} #}
                  <input type="submit" name="boolean_submit" value="Submit">

              </form>



        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
