<br/>
<div class="accordion accordion-flush" id="aims_accordion">
  {% for aim_data in sorted_aims %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading_{{aim_data.1}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush_{{aim_data.1}}" aria-expanded="false" aria-controls="flush_{{aim_data.1}}">
        <h4>{{aim_data.2}}</h4>
      </button>
    </h2>
    <div id="flush_{{aim_data.1}}" class="accordion-collapse collapse" aria-labelledby="heading_{{aim_data.1}}" data-bs-parent="#aims_accordion">
      <div class="accordion-body">
        {% for aim, behaviours in aim_data.4.items %}
        <div class="row text-center">
            <h4>AIM</h4>
            <h6>Created {{ aim.publish_date}} @ {{ aim.publish_time }} set by {{ aim.user }}</h6>
          </div>
          <div class="row">
            <ul class="nav justify-content-center">
              {% if user.is_authenticated %}
                {% if user.id == aim.user.id %}
                <!-- Button trigger modal -->
                <li class="nav-item px-2">
                  <a type="button" class="primary" data-bs-toggle="modal" data-bs-target="#modal_{{ aim }}"><i class="fas fa-bars"></i></a>
                </li>
                  <li class="nav-item px-2">
                    <a href="#" data-bs-toggle="tooltip" title="Edit this aim"><i class="far fa-edit"></i></a>
                  </li>
                  <li class="nav-item px-2">
                      <p><a href="#" data-bs-toggle="tooltip" title="Delete this aim"><i class="far fa-trash-alt"></i></a></p>
                  </li>
                {% endif %}
              {% endif %}
            </ul>
          </div>


          <!-- Modal -->
          <div class="modal fade" id="modal_{{ aim }}" tabindex="-1" aria-labelledby="modal_{{ aim }}Label" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal_{{ aim }}Label">Aim Selected</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="lead">{{ aim.title }}</p>
                  <p>An aim is a vision for your life, something you strife for. The most important part of an aim is why you are aiming for it, how you can
                  achieve it comes later with your behaviours and actions. When setting an aim pick something you want from life and tell yourself why.</p>
                  <p>You can add a behaviour to this aim and also edit or delete it below </p>

                </div>
                <div class="modal-footer">
                  <a href='{% url "lever-new" aim.id %}#begin' class="btn btn-primary"><i class="far fa-plus"></i></a>
                  <a href='{% url "edit-aim" aim.id %}#begin' class="btn btn-primary"><i class="far fa-edit"></i></a>

                  <form action="." method="POST">
                    {% csrf_token %}
                    <button name="delete_aim" value="{{aim.id}}" class="btn btn-secondary">
                      <i class="far fa-trash-alt"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal end -------------------------------------------------------------------------------------------------------->

          <p>{{ aim.why }}</p>
          <div class="accordion accordion-flush" id="accordionBehaviours">
          <p class="lead"></a> Behaviours that support my aim</p>
          {% for behaviour, trackers in behaviours.items %}
            <div class="accordion-item">

              <h2 class="accordion-header" id="heading_{{behaviour.id}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush_{{behaviour.id}}" aria-expanded="false" aria-controls="flush_{{behaviour.id}}">
                    {{ behaviour.description }}
                </button>
              </h2>
              <div id="flush_{{behaviour.id}}" class="accordion-collapse collapse" aria-labelledby="heading_{{behaviour.id}}" data-bs-parent="#accordionBehaviours">
                <div class="accordion-body">
                <p class="lead">
                <!-- Button trigger modal -->
                <a type="button" class="primary" data-bs-toggle="modal" data-bs-target="#modal_{{ behaviour.id }}">
                  <i class="fas fa-ellipsis-h"></i>
                </a> {{ behaviour.description}}</p>

                <!-- Modal -->
                <div class="modal fade" id="modal_{{ behaviour.id }}" tabindex="-1" aria-labelledby="modal_{{ behaviour.id }}Label" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="modal_{{ behaviour.id }}Label">Behaviour Selected</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <p class="lead">{{behaviour.description }}</p>
                        <p>A behaviuour is something you can do that moves you closer towards your aims.</p>
                        <p>You can add a tracker to monitor measurable progress and also edit or delete this behaviour below</p>
                      </div>
                      <div class="modal-footer">
                        <a href='{% url "tracker-select" behaviour.id %}#begin' class="btn btn-primary"><i class="far fa-plus"></i></a>
                        <a href='{% url "edit-lever" behaviour.id %}#begin' class="btn btn-primary"><i class="far fa-edit"></i></a>

                        <form action="." method="POST">
                          {% csrf_token %}
                          <button name="delete_behaviour" value="{{behaviour.id}}" class="btn btn-secondary">
                            <i class="far fa-trash-alt"></i></button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

                <ul class="list-group list-group-flush">
                  {% for tracker in trackers %}
                  <!-- Button trigger modal -->
                    <li class="list-group-item">
                      <a type="button" class="primary" data-bs-toggle="modal" data-bs-target="#modal_{{tracker.id}}">
                        <i class="fas fa-ellipsis-h"></i></a> {{ tracker.get_tsentence}} </li>
                      <!-- Modal -->
                      <div class="modal fade" id="modal_{{tracker.id}}" tabindex="-1" aria-labelledby="modal_{{tracker.id}}Label" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modal_{{tracker.id}}Label">Tracker Selected</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                              <p class="lead">{{tracker.get_tsentence }}</p>
                              <ul>
                                <li> Type: {{ tracker.get_tclass }} </li>
                                <li> Start Date: {{ tracker.start_date }} </li>
                                <li> Track Frequency: {{ tracker.frequency }}</li>
                                <li> Question: {{ tracker.get_tquestion }} </li>
                              </ul>
                              <p>A tracker is a measurable step that supports your behaviour</p>
                              <p>You can record an action and also edit or delete this tracker below.</p>

                            </div>
                            <div class="modal-footer">
                              <a href='{% url "log-any-tracker" tracker.get_tclass tracker.id %}#begin' class="btn btn-primary"><i class="far fa-plus"></i></a>

                              {% if tracker.get_tclass == "TrackerMinAim" %}
                                <a href='{% url "edit-min-tracker" tracker.id %}#begin' class="btn btn-primary"><i class="far fa-edit"></i></a>
                              {% endif %}

                              {% if tracker.get_tclass == "TrackerBoolean" %}
                                <a href='{% url "edit-bool-tracker" tracker.id %}#begin' class="btn btn-primary"><i class="far fa-edit"></i></a>
                              {% endif %}

                              <form action="." method="POST">
                                {% csrf_token %}
                                <input type="hidden" value="{{ tracker.get_tclass }}" name="delete_tclass">
                                <input type="hidden" value="{{ tracker.id }}" name="delete_tid">
                                <button name="delete_tracker" value="{{tracker.id}}" class="btn btn-secondary">
                                  <i class="far fa-trash-alt"></i></button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
