{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block topcarousel %}
{% endblock %}

{% block pageInfo_title %}
CHANGE PASSWORD
{% endblock pageInfo_title %}

{% block pageInfo_message %}
To update your password, enter your current password and a new one with confirmation.<br>
Your password can’t be too similar to your other personal information.<br>
Your password must contain at least 8 characters.<br>
Your password can’t be a commonly used password.<br>
Your password can’t be entirely numeric.<br>
{% endblock pageInfo_message %}

{% block content %}

<div class="container text-center my-4">
  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <!-- doing as_p decides the element that each will be created for each field -->
      <div class="text-center">
        <button class="btn btn-primary">Change password</button>
      </div>
      </form>
  </div>
</div>

{% endblock %}
