{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block topcarousel %}
{% endblock %}
{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
CREATE PROFILE
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Your profile has some settings vital to your aims such as the times and dates you want to reset tracking on. If you create public content it's great to share your profile so other users
can relate to who you are, you never know who you might inspire!
{% endblock pageInfo_message %}

{% block content %}
<div class="container my-4">


  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      <div class="text-center">
        {{ form.media }}
        {{ form.as_p }}
        <button class="btn btn-al">Activate Profile</button>
      </div>
  </div>
</div>

{% endblock %}
