{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block topcarousel %}
{% endblock %}
{% block pageInfoCaro %}
{% endblock pageInfoCaro %}

{% block pageInfo_title %}
EDIT PROFILE
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Your profile has some settings vital to your aims such as the times and dates you want to reset tracking on. If you create public content it's great to share your profile so other users
can relate to who you are, you never know who you might inspire!
{% endblock pageInfo_message %}

{% block content %}

<div class="container text-center">


  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}
      <!-- doing as_p decides the element that each will be created for each field -->
      <div class="text-center">
        <button class="btn btn-primary">Update profile</button>
      </div>
      </form>
  </div>
</div>

{% endblock %}
