{% load static %}
<div class="card border border-white my-2">
  <img class="card-img-top" src="{% static 'media/web/l3.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">COMMUNITY TOPICS GUIDE</h5>
    <p class="card-text"> Share AIMS, Pathways & questions. Write a topic to help or be helped by others</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="#">AIMS by Category</a></li>
    <li class="list-group-item"><a href="#">Pathway Promotions</a></li>
    <li class="list-group-item"><a href="#">Pathway help</a></li>
    <li class="list-group-item"><a href="#">General help</a></li>
  </ul>
</div>
<br/>
