{% extends 'base.html' %}

{% block title %} See category {% endblock %}


{% block content %}
<div class="container">
<!-- ####################################################################### -->
<!-- INSERT ALL DATA HERE                                                ### -->
<br/>
<h1> {{ dev_area.title }}</h1>
<br/>


<!--Pagination-->
  <div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
          {% if skill_area_topics.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ skill_area_topics.previous_page_number }}">previous</a>
          {% endif %}

            <span class="current">
                Page {{ skill_area_topics.number }} of {{ skill_area_topics.paginator.num_pages }}
            </span>

          {% if skill_area_topics.has_next %}
              <a href="?page={{ skill_area_topics.next_page_number }}">next</a>
              <a href="?page={{ skill_area_topics.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
        </div>
    </div>
  <!--end of Paginati-->
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">All Topics</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">What can I post</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">My {{ skill_topic_set.0.assigned_skill_area }} topics</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="accordion accordion-flush" id="TopicAccordian">
        {% for post in skill_area_topics %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="topic_heading_{{ post.pk }}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#topic_collapse_{{ post.pk }}" aria-expanded="false" aria-controls="topic_collapse_{{ post.pk }}">
                {{ post.title }} by {{ post.author }} on {{ post.publish_date }} at {{ post.publish_time}}
            </h2>
            <div id="topic_collapse_{{ post.pk }}" class="accordion-collapse collapse" aria-labelledby="topic_heading_{{ post.pk }}" data-bs-parent="#TopicAccordian">
              <div class="accordion-body">
                {{ post.topic_snippet}}
                <h6><a href="{% url 'forum-topic-view' post.pk %}">View full topic</a></h6>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <p> THIS WILL BE SOME INFORMATION GENERATED FROM THE DEVELOPMENT MODEL </p>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <p> THIS WILLL BE SOME INFORMATION GENERATED FROM THE POSTS MODEL </p>

  </div>
</div>
<br/>
<!--Pagination-->
  <div class="container p-4">
    <div class="pagination justify-content-center">
        <span class="step-links">
          {% if skill_area_topics.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ skill_area_topics.previous_page_number }}">previous</a>
          {% endif %}

            <span class="current">
                Page {{ skill_area_topics.number }} of {{ skill_area_topics.paginator.num_pages }}
            </span>

          {% if skill_area_topics.has_next %}
              <a href="?page={{ skill_area_topics.next_page_number }}">next</a>
              <a href="?page={{ skill_area_topics.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
        </div>
    </div>
  <!--end of Paginati-->
<!-- DONT EDIT AFTER THIS POINT                                          ### -->
<!-- ####################################################################### -->
</div>

{% endblock %}
