{% extends 'base.html' %}

{% block title %} Add Forum Post{% endblock %}

{% block content %}

<h1> Add New Topic </h1>

<div class="container">


  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}

      <!-- doing as_p decides the element that each will be created for each field -->
      <button>Post</button>
      </form>
  </div>
  <script>
    var name = "{{ user.id }}";
    document.getElementById('user_input_ms').value = name;
  </script>
</div>

{% endblock %}
{% block bottomcarousel %}
{% endblock %}

{% block bottomleftbar %}
{% endblock %}

{% block bottomcontent %}
{% endblock %}

{% block bottomrightbar  %}
{% endblock %}
