{% extends 'base.html' %}

{% block title %} Topic | {{ topic.title }}{% endblock %}

{% block sectiontitle %} @Forum {% endblock %}

{% block leftbar %}{% endblock %}
{% block content %}

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">{{ topic.title }}</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">@{{ topic.author }}</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Similar Topics</button>
    </div>
  </nav>

<!-- FIRST TAB CONTENT
################################################################################# -->
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <br>
      <div class="container">
        <div class="row">
          <div class="col-9">
            <h2>{{ topic.title }}</h2>
            <h6>Created {{ topic.publish_date}} @ {{ topic.publish_time }} by {{ topic.author }} {% if topic.modify_date %} & last modified on {{ topic.modify_date}} @ {{ topic.modify_time }} {% endif %}</h6 >
          </div>

          <div class="col-1">
            {% if user.is_authenticated %}
              <a href="#" class="btn btn-secondary btn-sm btn-block"><i class="fas fa-reply"></i></a>
            {% else %}
              <a href="{% url 'login' %}"  class="btn btn-secondary btn-sm btn-block" role="button"><i class="far fa-user"></i></a>

              {% endif %}
            </div>


          <div class="col-2">
            <div class="span">
              <form method="POST" action=".">
                  {% csrf_token %}
                  <input type="hidden" value="{{ topic.id }}" name="topic_id_to_vote">
                  <p>
                    {% if user.is_authenticated %}
                      <button type="submit" name="topic_vote_up" class="btn btn-secondary btn-sm btn-block"><i class="far fa-thumbs-up"></i></button>
                      {% else %}
                      <button type="disabled" class="btn btn-secondary btn-sm btn-block disabled"><i class="far fa-thumbs-up"></i></button>
                      {% endif %}
                    {{topic_votes.0}}
                  </p>
              </form>
              <form method="POST" action=".">
                  {% csrf_token %}
                  <input type="hidden" value="{{ topic.id }}" name="topic_id_to_vote">
                  <p>
                    {% if user.is_authenticated %}
                      <button type="submit" name="topic_vote_down" class="btn btn-secondary btn-sm btn-block"><i class="far fa-thumbs-down"></i></button>
                      {% else %}
                      <button type="disabled" class="btn btn-secondary btn-sm btn-block disabled"><i class="far fa-thumbs-down"></i></button>
                      {% endif %}
                     {{topic_votes.1}}
                    </p>
                  <!-- <p><input type="submit" value="Vote -" name="topic_vote_down" class="btn btn-secondary btn-sm btn-block"></p> -->
              </form>
            </div>
          </div>
        </div>
        <div>
          <hr>
          {{ topic.body|safe }}
        </div>
      </div>
    </div>

    <hr>
<!-- SECOND TAB CONTENT USER PROFILE
################################################################################# -->
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

    {% if topic.author.memberprofile %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">TITLE:{{ topic.author.memberprofile.power_quote }}</h5>
              <p> <a href="{% url 'member-profile' topic.author.memberprofile.id %}"> Profile Page</a>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <p>This users profile is not available to view right now</p>
      {% endif %}
    </div>

    <hr>
<!-- LAST TAB CONTENT
################################################################################# -->
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <p> This is tab 3 where information about similar topics will be seen</p>
    </div>

    <hr>
</div>
<!-- TOPIC COMMENTS
################################################################################# -->
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h5 class="mt-1">Reply Comments</h5>

      </div>

      <div class="col-8">

          <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link nav-link-sm btn-sm" id="tab_c" data-bs-toggle="tab" data-bs-target="#tab_content_c" type="button" role="tab" aria-controls="tab_content_c" aria-selected="false">
              {% if not pagi_comments %} Be the first to comment.. {% else %}<i class="far fa-comment"></i>{% endif %}
              </button>
            </li>
            {% if pagi_comments %}
              {% for comment_list in pagi_comments %}
                <li class="nav-item" role="presentation">
                  <button class="nav-link nav-link-sm btn-sm" id="tab_{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#tab_content_{{ forloop.counter0 }}" type="button" role="tab" aria-controls="tab_content_{{ forloop.counter0 }}" aria-selected="false">{{ forloop.counter }}</button>
                </li>
              {% endfor %}
            {% endif %}
            <li class="nav-item" role="presentation">
              <button class="nav-link nav-link-sm btn-sm" id="tab_x" data-bs-toggle="tab" data-bs-target="#tab_content_x" type="button" role="tab" aria-controls="tab_content_x" aria-selected="false">X</button>
            </li>
          </ul>
      </div>

      <div class="tab-content">
          <div class="tab-pane" id="tab_content_c" role="tabpanel" aria-labelledby="tab_c">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="container">

                  {% if user.is_authenticated %}
                    <div class="form-group">
                      <form method="POST" action=".">
                        {% csrf_token %}
                        {{ topic_comment_form.as_p }}

                        <input type="submit" value="Post comment" name="commentfortopic" class="btn btn-secondary">
                        <!-- doing as_p decides the element that each will be created for each field -->
                        </form>
                    </div>
                    {% else %}
                    <p class="lead"> You must be <a href="{% url 'login' %}">logged in</a> to comment or reply.</p>
                    {% endif %}

                </div>
              </li>
            </ul>
          </div>

        {% for comment_list in pagi_comments %}
          <div class="tab-pane" id="tab_content_{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="tab_{{ forloop.counter0 }}">
            <ul class="list-group list-group-flush">
              {% for comment in comment_list %}
              <li class="list-group-item">
                <div class="row">
                  <div class="col-1">
                    <br/>
                    <form method="POST" action=".">
                        {% csrf_token %}
                        <input type="hidden" value="{{ comment.id }}" name="reply_id_to_vote_up">
                        <p>
                          {% if user.is_authenticated %}
                            <button type="submit" name="comment_vote_up" class="btn btn-secondary btn-sm btn-block"><i class="far fa-thumbs-up"></i></button>
                            {% else %}
                            <button type="disabled" class="btn btn-secondary btn-sm btn-block disabled"><i class="far fa-thumbs-up"></i></button>
                            {% endif %}
                          {{topic_votes.0}}
                        </p>
                    </form>
                    <form method="POST" action=".">
                        {% csrf_token %}
                        <input type="hidden" value="{{ comment.id }}" name="reply_id_to_vote_down">
                        <p>
                          {% if user.is_authenticated %}
                            <button type="submit" name="comment_vote_down" class="btn btn-secondary btn-sm btn-block"><i class="far fa-thumbs-down"></i></button>
                            {% else %}
                            <button type="disabled" class="btn btn-secondary btn-sm btn-block disabled"><i class="far fa-thumbs-down"></i></button>
                            {% endif %}
                           {{topic_votes.1}}
                          </p>
                        </form>
                  </div>
                  <div class="col-11">
                    {{ comment.body }}
                    <p><small>{{comment.author }} on {{ comment.publish_date}} @ {{ comment.publish_time}} </small></p>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
        <div class="tab-pane" id="tab_content_x" role="tabpanel" aria-labelledby="tab_x">
        </div>
      </div>
    </div>
  </div>
  <hr>


<!-- TOPIC REPLIES
################################################################################# -->
<br/>
{% for reply in topic_replies %}
  <div class="container">
    <div class="row">
      <div class="col-9">
        <h2>{{ forloop.counter0}} Reply</h2>
        <h6>Created {{ reply.0.publish_date}} @ {{ reply.0.publish_time }} by {{ reply.0.author }}

          {% if user.is_authenticated %}
            {% if user.id == reply.0.author.id %}
            <!-- <a href="{% url 'forum-topic-edit' reply.pk %}">Edit</a> |
            <a href="{% url 'forum-topic-delete' reply.pk %}">Del</a> -->
            {% else %}
            <a href="#">Reply</a>
            {% endif %}
          {% else %}
          <a href="{% url 'login' %}">login to reply </a>
          {% endif %}
        </h6 >
      </div>
      <div class="col-1">


        </div>
        <div class="col-2">
          <div class="span">
            <form method="POST" action=".">
                {% csrf_token %}
                <input type="hidden" value="{{ topic.id }}" name="topic_id_to_vote">
                <p>
                  {% if user.is_authenticated %}
                    <button type="submit" name="topic_vote_up" class="btn btn-secondary btn-sm btn-block"><i class="far fa-thumbs-up"></i></button>
                    {% else %}
                    <button type="disabled" class="btn btn-secondary btn-sm btn-block disabled"><i class="far fa-thumbs-up"></i></button>
                    {% endif %}
                  {{topic_votes.0}}
                </p>
            </form>
            <form method="POST" action=".">
                {% csrf_token %}
                <input type="hidden" value="{{ topic.id }}" name="topic_id_to_vote">
                <p>
                  {% if user.is_authenticated %}
                    <button type="submit" name="topic_vote_down" class="btn btn-secondary btn-sm btn-block"><i class="far fa-thumbs-down"></i></button>
                    {% else %}
                    <button type="disabled" class="btn btn-secondary btn-sm btn-block disabled"><i class="far fa-thumbs-down"></i></button>
                    {% endif %}
                   {{topic_votes.1}}
                  </p>
                <!-- <p><input type="submit" value="Vote -" name="topic_vote_down" class="btn btn-secondary btn-sm btn-block"></p> -->
            </form>
          </div>
        </div>
      </div>
      <div class="Row">
        <hr>

        {{ reply.0.body|safe }}
      </div>
    </div>


    <!-- REPPLY COMMENTS
    ########################################################################################################################################################### -->
<hr>
<div class="container">
    <div class="row">
      <div class="col-4">
        <h5 class="mt-1">Topic Comments</h5>

      </div>
      <div class="col-8">
          <ul class="nav nav-tabs justify-content-end" id="replyTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link nav-link-sm btn-sm" id="tab_{{ forloop.counter0 }}_c" data-bs-toggle="tab" data-bs-target="#tab_content_{{ forloop.counter0 }}_c" type="button" role="tab" aria-controls="tab_content_{{ forloop.counter0 }}_c" aria-selected="false">
                {% if not reply.1 %} Be the first to comment.. {% else %}<i class="far fa-comment"></i>{% endif %}
              </button>
          {% if reply.1 %}
            </li>
            {% for comment_list in reply.1 %}
              <li class="nav-item" role="presentation">
                <button class="nav-link nav-link-sm btn-sm" id="tab_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#tab_content_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" type="button" role="tab" aria-controls="tab_content_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" aria-selected="false">{{ forloop.counter }}</button>
              </li>
            {% endfor %}
          {% endif %}
          <li class="nav-item" role="presentation">
              <button class="nav-link nav-link-sm btn-sm" id="tab_{{ forloop.counter0 }}_x" data-bs-toggle="tab" data-bs-target="#tab_content_{{ forloop.counter0 }}_x" type="button" role="tab" aria-controls="tab_content_{{ forloop.counter0 }}_x" aria-selected="false">X</button>
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div class="tab-pane" id="tab_content_{{ forloop.counter0 }}_c" role="tabpanel" aria-labelledby="tab_{{ forloop.counter0 }}_c">
           <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="container">
                  {% if user.is_authenticated %}
                  <div class="form-group">
                    <form method="POST" action=".">
                      {% csrf_token %}
                      {{ reply_comment_form.as_p }}

                      <input type="hidden" value="{{ reply.0.id }}" name="object_id">
                        <input type="submit" value="Post comment" name="commentforreply" class="btn btn-secondary">
                      <!-- doing as_p decides the element that each will be created for each field -->
                      </form>
                  </div>
                  {% else %}
                  <p class="lead"> You must be <a href="{% url 'login' %}">logged in</a> to comment or reply.</p>
                  {% endif %}
                </div>
              </li>
            </ul>
          </div>
        {% for comment_list in reply.1 %}
          <div class="tab-pane" id="tab_content_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="tab_{{ forloop.parentloop.counter0 }}_{{ forloop.counter0 }}">
            <ul class="list-group list-group-flush">
              {% for comment in comment_list %}
              <li class="list-group-item">
                <div class="row">
                  <div class="col-1">
                    <br/>
                    <form method="POST" action=".">
                        {% csrf_token %}
                        <input type="hidden" value="{{ comment.id }}" name="reply_id_to_vote_up">
                        <p>
                          {% if user.is_authenticated %}
                            <button type="submit" name="comment_vote_up" class="btn btn-secondary btn-sm btn-block"><i class="far fa-thumbs-up"></i></button>
                            {% else %}
                            <button type="disabled" class="btn btn-secondary btn-sm btn-block disabled"><i class="far fa-thumbs-up"></i></button>
                            {% endif %}
                          {{topic_votes.0}}
                        </p>
                    </form>
                    <form method="POST" action=".">
                        {% csrf_token %}
                        <input type="hidden" value="{{ comment.id }}" name="reply_id_to_vote_down">
                        <p>
                          {% if user.is_authenticated %}
                            <button type="submit" name="comment_vote_down" class="btn btn-secondary btn-sm btn-block"><i class="far fa-thumbs-down"></i></button>
                            {% else %}
                            <button type="disabled" class="btn btn-secondary btn-sm btn-block disabled"><i class="far fa-thumbs-down"></i></button>
                            {% endif %}
                           {{topic_votes.1}}
                          </p>
                        </form>
                  </div>
                  <div class="col-11">
                  {{ comment.body }}
                  <p><small>{{comment.author }} on {{ comment.publish_date}} @ {{ comment.publish_time}} </small></p>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
        <div class="tab-pane" id="tab_content_{{ forloop.counter0 }}_x" role="tabpanel" aria-labelledby="tab_{{ forloop.counter0 }}_x">
        </div>
      </div>
    </div>
  </div>
  <hr>
   {% endfor %}



<script>

  var firstTabEl = document.querySelector('#myTab li:last-child a')
  var firstTab = new bootstrap.Tab(firstTabEl)

  var firstTabEl = document.querySelector('#replyTab li:last-child a')
  var firstTab = new bootstrap.Tab(firstTabEl)

  firstTab.show()
</script>

{% endblock %}
