{% extends 'base.html' %}

{% block title %} Topic | {{ post.title }}{% endblock %}

{% block sectiontitle %} @Forum {% endblock %}

{% block leftbar %}{% endblock %}
{% block content %}

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">{{ post.title }}</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">About the author {{ post.author }}</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Similar Topics</button>
    </div>
  </nav>


  <!-- FIRST TAB CONTENT
  ################################################################################# -->
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <br>
      <h2>{{ post.title }}</h2>
      <h6>Created {{ post.publish_date}} @ {{ post.publish_time }} by {{ post.author }}

        {% if user.is_authenticated %}
          {% if user.id == post.author.id %}
          <a href="{% url 'forum-topic-edit' post.pk %}">Edit</a> |
          <a href="{% url 'forum-topic-delete' post.pk %}">Del</a>
          {% else %}
          <a href="#">Reply</a>
          {% endif %}
        {% else %}
        <a href="{% url 'login' %}">login to reply </a>
        {% endif %}
      </h6 >
      <hr>
      {{ post.body|safe }}

    </div>


    <!-- SECOND TAB CONTENT USER PROFILE
    ################################################################################# -->
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

    {% if post.author.memberprofile %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="..." class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">TITLE:{{ post.author.memberprofile.power_quote }}</h5>
              <p> <a href="{% url 'member-profile' post.author.memberprofile.id %}"> Profile Page</a>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <p>This users profile is not available to view right now</p>
      {% endif %}
    </div>



    <!-- LAST TAB CONTENT
    ################################################################################# -->
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <p> This is tab 3 where information about similar topics will be seen</p>
    </div>


    <hr>
  </div>


  <!-- REPLIES
  ################################################################################# -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="d-grid gap-2 col-12 mx-auto">
          <button class="btn btn-sm btn-outline-secondary" type="button">Comment</button>
        </div>
      </div>

      <div class="col-6">
        {% if not post.comments.all %}
          <p> There are no comments yet.. </p>
        {% else %}
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for comment_list in pagi_comments %}
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="tab_{{ forloop.counter0 }}" data-bs-toggle="tab" data-bs-target="#tab_content_{{ forloop.counter0 }}" type="button" role="tab" aria-controls="tab_content_{{ forloop.counter0 }}" aria-selected="false">{{ forloop.counter }}</button>
            </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="tab-content">
        {% for comment_list in pagi_comments %}
        <div class="tab-pane" id="tab_content_{{ forloop.counter0 }}" role="tabpanel" aria-labelledby="tab_{{ forloop.counter0 }}">
          <ul class="list-group list-group-flush">
            {% for comment in comment_list %}
            <li class="list-group-item">
              <div class="row">
                <div class="col-1">
                  <a href="#">+</a> | <a href="#">-</a>
                </div>
                <div class="col-11">
                {{ comment.body }}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
      <hr>


<script>
  var firstTabEl = document.querySelector('#myTab li:last-child a')
  var firstTab = new bootstrap.Tab(firstTabEl)

  firstTab.show()
</script>

{% endblock %}
