{% load static %}
<div class="desktop">
  <div class="card border border-white  my-2">
    <img src="{% static 'media/web/pb.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">How much control do you really have?</p>
    </div>
  </div>
</div>
<div class="desktop">
  <div class="card border border-white  my-2">
    <img src="{% static 'media/web/pb.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">How much control do you really have?</p>
    </div>
  </div>
</div>
