{% load static %}
<div class="card border border-white my-2">
    <img class="card-img-top" src="{% static 'media/web/wp.gif' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Pairing personal & industry development</h5>
      <p class="card-text">Design a course and share it with your employees through aims-lib</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#">Our vision</a></li>
      <li class="list-group-item"><a href="#">Syllabus examples</a></li>
      <li class="list-group-item"><a href="#">Creating a syllabus</a></li>
      <li class="list-group-item"><a href="#">Tools for hospitality</a></li>
    </ul>
  </div>
