{% load static %}
<div class="card border border-white my-2">
  <img class="card-img-top" src="{% static 'media/web/l3.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">WELCOME GUIDE</h5>
    <p class="card-text">If you're new to AIMSLib, these guides can help you get stuck in </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="#">The Library</a></li>
    <li class="list-group-item"><a href="#">Aims Map</a></li>
    <li class="list-group-item"><a href="#">Pathways</a></li>
    <li class="list-group-item"><a href="#">Community</a></li>
    <li class="list-group-item"><a href="#">Develop & Share</a></li>
  </ul>
</div>
<br/>
<div class="desktop">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'media/web/pa1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">THE OURA RING</h5>
      <p class="card-text">A good nights rest is not optional. Know why you feel how you feel</p>
      <a href="#" class="btn btn-primary">Check our sleep guide</a>
    </div>
  </div>
</div>
<br/>
<div class="desktop">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'media/web/pa2.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">BLUE LIGHT BLOCKERS</h5>
      <p class="card-text">A good nights rest is not optional. -Check the tools to optimise yours</p>
      <a href="#" class="btn btn-primary">Check our sleep guide</a>
    </div>
  </div>
</div>
