{% load static %}
<div class="card border border-white my-2">
  <img class="card-img-top" src="{% static 'media/web/l3.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Quick start guide</h5>
    <p class="card-text">Learn how to create a roadmap to your aims. You can start here.. </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="#"><i>"Craft just how they remember me"</i></a></li>
    <li class="list-group-item"><a href="#">The pillars of life</a></li>
    <li class="list-group-item"><a href="#">Finding purpose</a></li>
    <li class="list-group-item"><a href="#">Starting your map</a></li>
    <li class="list-group-item"><a href="#" class="card-link">Go to your map</a></li>
  </ul>
</div>
<br/>
<div class="desktop">
  <div class="card border border-white  my-2">
    <img src="{% static 'media/web/pb.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">How much control do you really have?</p>
    </div>
  </div>
</div>
