  {% extends 'base.html' %}
  {% load embed_video_tags %}
  {% block title %}Pathways{% endblock %}

  {% block topcarousel %}
  {% endblock %}

  {% block pageInfo_title %}
  VIDEO LECTURE
  {% endblock pageInfo_title %}

  {% block pageInfo_message %}
  This is a video lecture. Clear your mind, absorb knowledge. If you found the content helpful, give it a thumbs up! If you're the developer, use it to generate benchmark content from the pathways menu.
  {% endblock pageInfo_message %}

  {% block modulenav %}
    {% include "pathway_nav.html" %}
  {% endblock %}

  {% block content %}
  <div class="container mt-2">
  <br/>
    <h3 class="text-center">{{ vid_lec.title }}</h3>
  <br/>
  </div>
  <div class="container mb-4">

    <div class="d-flex justify-content-center">

        {% video vid_lec.video_link  %}
    </div>
  </div>
  {% endblock %}
