{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfo_title %}
CREATE VIDEO LECTURE
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Simply submit a url from any popular streaming service where your video is uploaded. Add a description or any notes if necessary, we'll take care of the rest.
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <a class="anchor" id="begin"></a>
</div>

<div class="container my-4">


  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}

      <!-- doing as_p decides the element that each will be created for each field -->
      <div class="text-center">


      <button class="btn btn-primary">Create Video Lecture</button>
          </div>
      </form>
  </div>
</div>

{% endblock %}
