{% extends 'base.html' %}
{% block title %}Pathways{% endblock %}

{% block topcarousel %}
{% endblock %}

{% block pageInfo_title %}
PATHWAYS HOME
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Here you can track your pathway progress or develop your own. Pathway organises & shares course content providing automated assessment and recap benchmarking
{% endblock pageInfo_message %}

{% block modulenav %}
  {% include "pathway_nav.html" %}
{% endblock %}

{% block content %}
<div class="container">
  <a class="anchor" id="begin"></a>
</div>
<h1> Creating a new video lecture </h1>

<div class="container">


  <div class="form-group">
    <form method="post">
      {% csrf_token %}
      {{ form.media }}
      {{ form.as_p }}

      <!-- doing as_p decides the element that each will be created for each field -->
      <button>Create</button>
      </form>
  </div>
</div>

{% endblock %}
