{% load static %}
<div class="card border border-white my-2">
  <img class="card-img-top" src="{% static 'media/web/l3.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Pathways guide</h5>
    <p class="card-text">AIMS-Lib Pathways allows you to create and share content to develop a new skill</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="#">Take me to the full guide</a></li>
    <li class="list-group-item"><a href="#">Video Tutorials</a></li>
    <li class="list-group-item"><a href="#">Written Articles</a></li>
    <li class="list-group-item"><a href="#">Benchmarks</a></li>
  </ul>
</div>
<br/>
<div class="desktop">
  <div class="card border border-white  my-2">
    <img src="{% static 'media/web/pb.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">How much control do you really have?</p>
    </div>
  </div>
</div>
