{% load static %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'new-video-lecture' %}">Create a video lecture</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'new-written-lecture' %}">Create a written lecture</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Create a benchmark</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'new-pathway' %}">Create a pathway</a>
  </li>
</ul>
