{% extends 'base.html' %}
{% block title %}Skill Paths{% endblock %}

{% block sectiontitle %}
<p>Here you can learn anything..</p>
{% endblock %}


{% block leftbar %}
{% include "left_bar.html" %}

{% endblock %}


{% block content %}
<div class="container">


{% for path, path_items in user_pathways.items %}
  <h4> {{ path.title }}</h4>
  {% for path_content in path_items %}
  <div class="row">
    <div class="col-1">
      {{ path_content.order_by }}
    </div>
    <div class="col-3">
      {{ path_content.content_type|title }}
    </div>
    <div class="col-8">
      {% if path_content.written_lecture %}<a href="{% url 'written-lecture' path_content.written_lecture.id %}">{{ path_content.written_lecture.title }}</a>{% endif %}
      {% if path_content.video_lecture %}<a href="{% url 'video-lecture' path_content.video_lecture.id %}">{{ path_content.video_lecture.title }}</a>{% endif %}
      {% if path_content.quiz %}<a href="{% url 'quiz-app' path_content.quiz.id %}">{{ path_content.quiz.title }}</a>{% endif %}

  </div>
</div>
{% endfor %}
<hr>
{% endfor %}
</div>
{% endblock %}

{% block contentCarousel %}
{% endblock %}

{% block secondtopcontent %}
{% endblock %}


{% block bottomcarousel %}
{% endblock %}

{% block bottomleftbar %}
{% endblock %}

{% block bottomcontent %}
{% endblock %}

{% block bottomrightbar  %}
{% endblock %}
