{% extends base.html %}
{% load static %}


{% block main_nav %}
{% endblock main_nav %}

{% block topcarousel %}
{% endblock %}

{% block pageInfo %}
  {% block pageInfo_title %}
  {% endblock pageInfo_title %}

  {% block pageInfo_message %}
  {% endblock pageInfo_message %}
{% endblock pageInfo %}

{% block modulenav %}
{% endblock %}

{% block content %}
{% endblock %}

{% block contentCarousel %}
{% endblock %}

{% block bottomnav %}
{% endblock bottomnav %}

{% block bottomcontent %}
{% endblock %}

{% block bottomcarousel %}
{% endblock %}

{% block scripts %}
{% endblock scripts %}
