{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href='/static/css/bootstrap.min.css'/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
    <title>{% block title %}AIMS-LIB{% endblock %}</title>
  </head>
  <body>
    <!-- NAVIGATION & Messages (FIXED TO TOP)
    ################################################################################# -->
        <div class="fixed-top">
            <div class="container">
              {% include 'navigation.html' %}
            </div>
            {% if messages %}
            <div class="container">
              {% for message in messages %}
              <div class="container-fluid p-0">
                <div class="alert {{message.tags}}" role="alert" >
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endif %}
        </div>
  <!-- MAIN CAROUSELF (FULL SCREEN WIDTH)
  ################################################################################# -->

  {% block maincarousel %}
    {% include  "base_main_carousel.html" %}
  {% endblock %}


<!-- TOP HALF PAGE
################################################################################# -->

      <div class="container">
       <div class="row">
    <!-- LEFT BAR
    ################################################################################# -->
        <div class="col-md-3 col-xs-12 bg-white my-2">
          {% block leftbar %}
            {% include "top_left.html"%}
          {% endblock %}
        </div>
    <!-- MAIN CONTENT
    ################################################################################# -->
        <div class="col-md-7 col-xs-12 rounded bg-white my-2">

          {% block content %}
          {% endblock %}

          {% block secondtopcontent %}
            {% include "secondtopcontent.html" %}
          {% endblock %}
        </div>

    <!-- TOP RIGHT SIDE
    ################################################################################# -->
        <div class="col-md-2 col-xs-12 bg-white my-2">
          {% block rightbar %}
            {% include "top_right.html" %}
          {% endblock %}
        </div>
<!-- END OF TOP HALF CONTAINERS
################################################################################# -->
      </div>
    </div>
    <!-- MAIN CONTENT CAROUSEL
    ################################################################################# -->

        {% block contentCarousel %}
          {% include "content_carousel.html" %}
        {% endblock %}

    <!-- MAIN CONTENT AFTER CONTENT CAROUSEL
    ################################################################################# -->


<!-- BOTTOM CAROUSEL (FULL SCREEN WIDTH)
################################################################################# -->

<!-- BOTTOM HALF PAGE
################################################################################# -->
      <div class="container">
       <div class="row">

    <!-- BOTTOM LEFT BAR
    ################################################################################# -->
        <div class="col-md-3 col-xs-12 bg-white my-2">
          {% block bottomleftbar %}
            {% include "bottom_left.html"%}
          {% endblock %}
        </div>

    <!-- BOTTOM CENTER CONTENT
    ################################################################################# -->
        <div class="col-md-7 col-xs-12 rounded bg-white my-2">
          {% block bottomcontent %}

          {% endblock %}
        </div>


    <!-- bottom right bar
    ################################################################################# -->
        <div class="col-md-2 col-xs-12 bg-white my-2">

          {% block bottomrightbar %}
            {% include "bottom_right.html" %}
          {% endblock %}
        </div>
      </div>
    </div>


    {% block bottomcarousel %}
      {% include "bottom_carousel.html" %}
    {% endblock %}


<!-- BOTTOM NAV
################################################################################# -->
  <div class='container fixed-bottom'>
    {% include 'bottom_nav.html' %}
  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
  </body>

</html>
