{% load static %}
<a href="#"><h5>AIMSLib Book List</h5></a>
<p>Thought provoking must have literature</p>
<div class="row no-gutter">
    <div class="col col-xs-6 bg-white">

        <div class="card border border-white my-2">
          <img src="{% static 'media/web/ba2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">Develop a growth mindset</p>
          </div>
        </div>
      </div>
    <div class="col col-xs-6 bg-white">
        <div class="card border border-white my-2">
          <img src="{% static 'media/web/ba1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">Understanding our neurology</p>
          </div>
        </div>
      </div>
  </div>

  <div class="row no-gutter">
      <div class="col col-xs-6 bg-white">

          <div class="card border border-white my-2">
            <img src="{% static 'media/web/ba3.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text text-center">Cultivating Grit</p>
            </div>
          </div>
        </div>
      <div class="col col-xs-6 bg-white">
          <div class="card border border-white my-2">
            <img src="{% static 'media/web/ba4.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text text-center">Redefine your limits</p>
            </div>
          </div>
        </div>
    </div>
