{% load static %}
<div class="desktop">
<a href="#"><h5>In the Library: Podcasts</h5></a>
<p>Our user top rated podscasts to help you achieve your aims</p>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">1 <i class="fas fa-podcast"></i> Impact Theory</a>
  <a href="#" class="list-group-item list-group-item-action">2 <i class="fas fa-podcast"></i> Hal Elrod</a>

  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">3 <i class="fas fa-podcast"></i> Jordan B Peterson</a>
  <a href="#" class="list-group-item list-group-item-action">4 <i class="fas fa-podcast"></i> Jim Quik</a>

  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">5 <i class="fas fa-podcast"></i> Dr Rangan Chatterjee</a>
  <a href="#" class="list-group-item list-group-item-action">6 <i class="fas fa-podcast"></i> Women of Impact</a>

  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">7 <i class="fas fa-podcast"></i> The Happiness Lab</a>
  <a href="#" class="list-group-item list-group-item-action">8 <i class="fas fa-podcast"></i> Joe Rogan Show</a>

  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">9 <i class="fas fa-podcast"></i> Mind Pump</a>
  <a href="#" class="list-group-item list-group-item-action">10 <i class="fas fa-podcast"></i> Jordan Harbinger Show</a>

</div>
</div>
<div class="desktop">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'media/web/pa1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">THE OURA RING</h5>
      <p class="card-text">A good nights rest is not optional. Know why you feel how you feel</p>
      <a href="#" class="btn btn-primary">Check our sleep guide</a>
    </div>
  </div>
</div>
<br/>
<div class="desktop">
  <div class="card" style="width: 18rem;">
    <img src="{% static 'media/web/pa2.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">BLUE LIGHT BLOCKERS</h5>
      <p class="card-text">A good nights rest is not optional. -Check the tools to optimise yours</p>
      <a href="#" class="btn btn-primary">Check our sleep guide</a>
    </div>
  </div>
</div>
