{% extends 'base.html' %}
{% block title %}AIMS-LIB{% endblock %}
{% load static %}
{% block pageInfo_title %}
AIMS LIBRARY
{% endblock pageInfo_title %}

{% block pageInfo_message %}
Welcome to the home of personal & workplace development. We aim to use artificial intelligence to provide efficiency to workplaces. We are firm believers that time
is the second most important resource. Our tools create time by automating aspects of your business.<br> Then, you can concentrate on the number one resource, people.
<div class="row text-start my-4">
  <h4 class="text-primary">AIMS</h4>
    <hr>
  <p>
    I'm baby pug af pickled, art party activated charcoal bushwick post-ironic portland ramps four loko mustache. Wolf authentic lomo dreamcatcher pork belly deep v. Neutra coloring book craft beer copper mug migas. 8-bit slow-carb bushwick hoodie kogi flexitarian post-ironic, church-key pour-over bicycle rights taiyaki readymade 3 wolf moon. XOXO four dollar toast iPhone, disrupt umami marfa pour-over edison bulb PBR&B pug church-key humblebrag. Plaid gluten-free single-origin coffee +1 four loko fingerstache, retro stumptown wolf marfa edison bulb. Messenger bag photo booth austin williamsburg woke, XOXO occupy franzen bespoke freegan tote bag normcore.
    Photo booth la croix shoreditch venmo. Poutine whatever offal, YOLO scenester locavore +1 pop-up glossier bushwick viral single-origin coffee retro green juice. Sustainable lumbersexual kale chips, vegan etsy adaptogen four loko aesthetic vexillologist letterpress truffaut synth. Blue bottle ugh twee, cliche pop-up humblebrag craft beer.
  </p>
</div>
<div class="text-end row my-4">
  <h4 class="text-primary">LIBRARY</h4>
    <hr>
  <p>
    I'm baby pug af pickled, art party activated charcoal bushwick post-ironic portland ramps four loko mustache. Wolf authentic lomo dreamcatcher pork belly deep v. Neutra coloring book craft beer copper mug migas. 8-bit slow-carb bushwick hoodie kogi flexitarian post-ironic, church-key pour-over bicycle rights taiyaki readymade 3 wolf moon. XOXO four dollar toast iPhone, disrupt umami marfa pour-over edison bulb PBR&B pug church-key humblebrag. Plaid gluten-free single-origin coffee +1 four loko fingerstache, retro stumptown wolf marfa edison bulb. Messenger bag photo booth austin williamsburg woke, XOXO occupy franzen bespoke freegan tote bag normcore.
    Photo booth la croix shoreditch venmo. Poutine whatever offal, YOLO scenester locavore +1 pop-up glossier bushwick viral single-origin coffee retro green juice. Sustainable lumbersexual kale chips, vegan etsy adaptogen four loko aesthetic vexillologist letterpress truffaut synth. Blue bottle ugh twee, cliche pop-up humblebrag craft beer.
  </p>
</div>
<div class="text-start row my-4">
  <h4 class=" text-primary">PATHWAYS</h4>
    <hr>
  <p>
    I'm baby pug af pickled, art party activated charcoal bushwick post-ironic portland ramps four loko mustache. Wolf authentic lomo dreamcatcher pork belly deep v. Neutra coloring book craft beer copper mug migas. 8-bit slow-carb bushwick hoodie kogi flexitarian post-ironic, church-key pour-over bicycle rights taiyaki readymade 3 wolf moon. XOXO four dollar toast iPhone, disrupt umami marfa pour-over edison bulb PBR&B pug church-key humblebrag. Plaid gluten-free single-origin coffee +1 four loko fingerstache, retro stumptown wolf marfa edison bulb. Messenger bag photo booth austin williamsburg woke, XOXO occupy franzen bespoke freegan tote bag normcore.
    Photo booth la croix shoreditch venmo. Poutine whatever offal, YOLO scenester locavore +1 pop-up glossier bushwick viral single-origin coffee retro green juice. Sustainable lumbersexual kale chips, vegan etsy adaptogen four loko aesthetic vexillologist letterpress truffaut synth. Blue bottle ugh twee, cliche pop-up humblebrag craft beer.
  </p>
</div>
<div class="text-end row my-4">
  <h4 class="text-primary">COMMUNITY</h4>
  <hr>

  <p>
    I'm baby pug af pickled, art party activated charcoal bushwick post-ironic portland ramps four loko mustache. Wolf authentic lomo dreamcatcher pork belly deep v. Neutra coloring book craft beer copper mug migas. 8-bit slow-carb bushwick hoodie kogi flexitarian post-ironic, church-key pour-over bicycle rights taiyaki readymade 3 wolf moon. XOXO four dollar toast iPhone, disrupt umami marfa pour-over edison bulb PBR&B pug church-key humblebrag. Plaid gluten-free single-origin coffee +1 four loko fingerstache, retro stumptown wolf marfa edison bulb. Messenger bag photo booth austin williamsburg woke, XOXO occupy franzen bespoke freegan tote bag normcore.
    Photo booth la croix shoreditch venmo. Poutine whatever offal, YOLO scenester locavore +1 pop-up glossier bushwick viral single-origin coffee retro green juice. Sustainable lumbersexual kale chips, vegan etsy adaptogen four loko aesthetic vexillologist letterpress truffaut synth. Blue bottle ugh twee, cliche pop-up humblebrag craft beer.
  </p>
</div>
<div class="text-start row my-4">
  <h4 class="text-primary">THE FUTURE</h4>
<hr>
  <p>
    I'm baby pug af pickled, art party activated charcoal bushwick post-ironic portland ramps four loko mustache. Wolf authentic lomo dreamcatcher pork belly deep v. Neutra coloring book craft beer copper mug migas. 8-bit slow-carb bushwick hoodie kogi flexitarian post-ironic, church-key pour-over bicycle rights taiyaki readymade 3 wolf moon. XOXO four dollar toast iPhone, disrupt umami marfa pour-over edison bulb PBR&B pug church-key humblebrag. Plaid gluten-free single-origin coffee +1 four loko fingerstache, retro stumptown wolf marfa edison bulb. Messenger bag photo booth austin williamsburg woke, XOXO occupy franzen bespoke freegan tote bag normcore.
    Photo booth la croix shoreditch venmo. Poutine whatever offal, YOLO scenester locavore +1 pop-up glossier bushwick viral single-origin coffee retro green juice. Sustainable lumbersexual kale chips, vegan etsy adaptogen four loko aesthetic vexillologist letterpress truffaut synth. Blue bottle ugh twee, cliche pop-up humblebrag craft beer.
  </p>
</div>

{% endblock pageInfo_message %}
{% block modulenav %}
{% endblock %}

{% block content %}
<div class="container">

</div>
{% endblock %}
