{% extends 'base.html' %}
{% block title %}AIMS-LIB{% endblock %}
{% load static %}

{% block modulenav %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h1 class="text-start">CRAFT YOUR FUTURE</h1>
    <br/>
    <div class="col-4">
      <img class="card-img-top" src="{% static 'media/web/l3.png' %}" alt="Card image cap">
    </div>
    <div class="col-8">
      <div class="bs-component">
        <figure>
          <blockquote class="blockquote">
            <p>“Every action you take is a vote for the type of person you wish to become. No single instance will transform your beliefs,
              but as the votes build up, so does the evidence of your new identity” </p>
          </blockquote>
          <figcaption class="blockquote-footer">
          James Clear <cite title="Source Title">Atomic Habits</cite>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
    <div class="row">
      <p class="lead">Twee ugh irony raw denim you probably haven't heard of them wayfarers. </p>
      <p> Hot chicken pork belly selfies street art mlkshk kickstarter +1 chillwave readymade humblebrag put a bird on it unicorn kale chips. Everyday carry forage hoodie, raw denim seitan wolf umami kombucha banjo keytar flexitarian farm-to-table chambray trust fund. Migas trust fund hoodie brooklyn cardigan, palo santo bicycle rights bespoke ramps shabby chic hell of kickstarter offal tumeric cloud bread. Pour-over waistcoat pickled seitan meditation. You probably haven't heard of them gastropub farm-to-table, sustainable leggings fam williamsburg locavore deep v stumptown.

Raclette pitchfork leggings hashtag poutine lumbersexual. Drinking vinegar coloring book hell of, pickled whatever vegan fashion axe truffaut jianbing. Listicle tumeric hot chicken skateboard schlitz iPhone poke keffiyeh mustache. Kogi photo booth selvage synth food truck meggings hashtag.

Kitsch hell of actually brunch craft beer tumblr vice blue bottle. Vexillologist dreamcatcher meditation thundercats normcore, craft beer mumblecore yr. Deep v poke humblebrag poutine ethical pitchfork squid. Fashion axe pug pickled gastropub portland everyday carry vape hammock asymmetrical pok pok vaporware taxidermy hot chicken ennui.</p>
  </div>

  <div class="row">

    <h1 class="text-end">TAKE & MAKE AIMS</h1>
    <br/>
    <div class="col-9">
      <div class="bs-component">
        <figure>
          <blockquote class="blockquote">
            <p>“Every action you take is a vote for the type of person you wish to become. No single instance will transform your beliefs,
              but as the votes build up, so does the evidence of your new identity” </p>
          </blockquote>
          <figcaption class="blockquote-footer">
          James Clear <cite title="Source Title">Atomic Habits</cite>
          </figcaption>
        </figure>
      </div>
    </div>
  <div class="col-3">

  </div>
</div>
  <div class="row">
    <p class="lead">Twee ugh irony raw denim you probably haven't heard of them wayfarers. </p>
    <p> Hot chicken pork belly selfies street art mlkshk kickstarter +1 chillwave readymade humblebrag put a bird on it unicorn kale chips. Everyday carry forage hoodie, raw denim seitan wolf umami kombucha banjo keytar flexitarian farm-to-table chambray trust fund. Migas trust fund hoodie brooklyn cardigan, palo santo bicycle rights bespoke ramps shabby chic hell of kickstarter offal tumeric cloud bread. Pour-over waistcoat pickled seitan meditation. You probably haven't heard of them gastropub farm-to-table, sustainable leggings fam williamsburg locavore deep v stumptown.

  Raclette pitchfork leggings hashtag poutine lumbersexual. Drinking vinegar coloring book hell of, pickled whatever vegan fashion axe truffaut jianbing. Listicle tumeric hot chicken skateboard schlitz iPhone poke keffiyeh mustache. Kogi photo booth selvage synth food truck meggings hashtag.

  Kitsch hell of actually brunch craft beer tumblr vice blue bottle. Vexillologist dreamcatcher meditation thundercats normcore, craft beer mumblecore yr. Deep v poke humblebrag poutine ethical pitchfork squid. Fashion axe pug pickled gastropub portland everyday carry vape hammock asymmetrical pok pok vaporware taxidermy hot chicken ennui.</p>
  </div>
</div>
{% endblock %}

{% block secondtopcontent %}
<div class="container">
  <div class="row">
    <h1 class="text-start">CRAFT YOUR FUTURE</h1>
    <br/>
    <div class="col-3">
    </div>
    <div class="col-9">
      <div class="bs-component">
        <figure>
          <blockquote class="blockquote">
            <p>“Every action you take is a vote for the type of person you wish to become. No single instance will transform your beliefs,
              but as the votes build up, so does the evidence of your new identity” </p>
          </blockquote>
          <figcaption class="blockquote-footer">
          James Clear <cite title="Source Title">Atomic Habits</cite>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
    <div class="row">
      <p class="lead">Twee ugh irony raw denim you probably haven't heard of them wayfarers. </p>
      <p> Hot chicken pork belly selfies street art mlkshk kickstarter +1 chillwave readymade humblebrag put a bird on it unicorn kale chips. Everyday carry forage hoodie, raw denim seitan wolf umami kombucha banjo keytar flexitarian farm-to-table chambray trust fund. Migas trust fund hoodie brooklyn cardigan, palo santo bicycle rights bespoke ramps shabby chic hell of kickstarter offal tumeric cloud bread. Pour-over waistcoat pickled seitan meditation. You probably haven't heard of them gastropub farm-to-table, sustainable leggings fam williamsburg locavore deep v stumptown.

Raclette pitchfork leggings hashtag poutine lumbersexual. Drinking vinegar coloring book hell of, pickled whatever vegan fashion axe truffaut jianbing. Listicle tumeric hot chicken skateboard schlitz iPhone poke keffiyeh mustache. Kogi photo booth selvage synth food truck meggings hashtag.

Kitsch hell of actually brunch craft beer tumblr vice blue bottle. Vexillologist dreamcatcher meditation thundercats normcore, craft beer mumblecore yr. Deep v poke humblebrag poutine ethical pitchfork squid. Fashion axe pug pickled gastropub portland everyday carry vape hammock asymmetrical pok pok vaporware taxidermy hot chicken ennui.</p>
  </div>
</div>

{% endblock %}
