{% extends 'base.html' %}
{% block title %}AIMS-LIB{% endblock %}

{% block maincarousel %}
{% endblock %}

{% block leftbar %}
{% endblock %}

{% block modulenav %}
{% endblock %}

{% block content %}
{% endblock %}

{% block rightbar %}
{% endblock %}


{% block contentCarousel %}
{% endblock %}

{% block bottomcarousel %}
{% endblock %}

{% block bottomleftbar %}
{% endblock %}

{% block modulenav_bottom %}
{% endblock %}

{% block bottomcontent %}
{% endblock %}

{% block bottomrightbar  %}
{% endblock %}
